<div class="grid__item one-third medium-down--one-half">
	<div class="article__image">
		<img src="{{article.image | img_url}}">
	</div>
	<div class="article__header">
		<h2 class="h4 subheader">{{article.title}}</h2>
		<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
	</div>
</div>