<script type="text/javascript">
(function(p,r,e,d,i,c,t){p['Akanoo']=i;p[i]=p[i]||function(){
(p[i].c=p[i].c||[]).push(arguments)},p[i].l=1*new Date();c=r.createElement(e),
t=r.getElementsByTagName(e)[0];c.async=1;c.src='https://cdn.akanoo.com/t/'+d+'.js';t.parentNode.insertBefore(c,t)
})(window,document,'script','80974838678b','at');

{% if template contains 'index' %}
	at('type', 'home');
{% elsif template contains 'collection' %}
	at('type', 'overview');
	at('category', '{{ collection.title }}');
{% elsif template contains 'product' %}
	at('type', 'product');
{% elsif template contains 'cart' %}
	at('type', 'basket');
{% elsif template contains 'search' %}
	at('type', 'search');
{% else %}
	at('type', 'about');
{% endif %}

var flags = [];

{% if cart.items.size > 0 %}
	{% for item in cart.items %}
		at('addToBasket', '{{ item.sku }}', '{{ item.price | divided_by: 100 }}', '{{ item.quantity }}');
		{% if item.sku == '99010003' %}
			flags.push('VitaminD');
			{% if item.quantity < 3 %}
				flags.push('VitaminDVorteil');
			{% endif %}
		{% endif %}
		{% if item.sku == '99010015' %}
			flags.push('VitaminB12');
		{% endif %}
		{% if item.sku == '8D-Z935-TEQY' %}
			flags.push('LebensmittelReaktion');
		{% endif %}
		{% if item.sku == '99010004' %}
			flags.push('HistaminIntoleranz');
		{% endif %}
		{% if item.sku == '99010014' %}
			flags.push('Zoeliakie');
		{% endif %}
	{% endfor %}
{% endif %}

if(flags.length > 0) at('flag', flags.join(','));

at('send');
</script>
