<div class="z-depth-1 padding-box">
	<div class="grid product">
		<div class="grid__item one-quarter">
			<img src="{{product.featured_image | img_url: 'large'}}" alt="{{product.title}}">
		</div>
		<div class="grid__item three-quarters product__content">
			<h4>{{product.title}}</h4>
			<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
			<div class="rte">Lorem Ipsum</div>
			<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
        <div class="form__row" style="margin-top: 10px">
           <div class="form__column half">
            <div class="price-container">
            {% if product.compare_at_price_max > product.price %}
              <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% endif %}
            <span id="ProductPrice-{{ section.id }}" class="h1 price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {{ product.selected_or_first_available_variant.price | money }}
            </span>

            {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <p id="ComparePrice-{{ section.id }}" class="h3 price compare-price">
                {{ product.selected_or_first_available_variant.compare_at_price | money }}
              </p>
            {% endif %}
          </div>
          

          
            
      	      <select name="id" id="productSelect-{{ product.id }}" class="product-single__variants selector-wrapper">
      	        {% for variant in product.variants %}
      	          {% if variant.available %}

      	            <option {% if variant == current_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      	          {% else %}
      	            <option disabled="disabled">
      	              {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      	            </option>
      	          {% endif %}
      	        {% endfor %}
      	      </select>

      		   
            </div>
              <div class="form__column half">
                 <div id="quantity-selector-{{ product.id }}" class="form__column quantity-selector">
                <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qty-remove-defaults quantity-selector">
              </div>
              <label>&nbsp;</label>
                <button type="submit" name="add" id="AddToCart" class="btn btn--fill btn--regular btn--color">
                  <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
              </div>

          </div>

        </form>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
// Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
    });
</script>