{% assign blog_comments = blog_meta %}

<ul class="article__meta white">
  <li><time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time></li>
  {% if blog_comments %}
    <li>{{ 'blogs.comments.with_count' | t: count: article.comments_count }}</li>
  {% endif %}
  
</ul>
