<div class="bottom-bar">
  <div class="wrapper">
    <div class="link-list text-center">
      <span>© {{ 'now' | date: "%Y" }} Cerascreen GmbH</span>
      {% for link in linklists['bottom'].links %}
                <a class="footer-link" href="{{ link.url }}">{{ link.title }} | </a>
      {% endfor %}
    </div>
  </div>
</div>
