<div id="desktop-banner" class="z-depth-1 product__content">
  <div class="wrapper">
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="">
      <div class="display-table form__row no-float">
        <div  class="form__column medium-down--hide fifth display-table-cell">{{product.metafields.text.shipping}}</div>
        <div  class="form__column medium-down--hide fifth display-table-cell">{{product.metafields.text.available}}</div>
        <div class="form__column fifth display-table-cell">
          
            
            <span  class="h1 price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {% if product.price_varies %}<small style="font-size: 0.5em;">{{ 'products.product.on_sale_from' | t }}</small> {%endif%}{{ current_variant.price | money }}
            </span>
            {% if section.settings.tax_note != blank %}
            <span class="tax-note">{{section.settings.tax_note}}</span>
            {% endif %}
            {% if section.settings.shipping_note != blank %}
            <span class="tax-note"> <a href="{{section.settings.shipping_link}}">{{section.settings.shipping_note}}</a></span>
            {% endif %}
         
        </div>
        <div class="form__column twofifth display-table-cell">


              

              <div id="quantity-selector" class="quantity-selector">
                <div class="input-holder minus"><button type="button" value="" class="minus" aria-label="Decrease"><svg class=" svg minus" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="19" height="19" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve" aria-hidden="true"><path d="M8 8C5.2 8 2.6 8 0 8c0 1 0 2 0 3 2.5 0 4.9 0 8 0 2.8 0 8.4 0 11 0 0-1 0-2 0-3C16.5 8 11.1 8 8 8z"></path></svg></button></div>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qty-remove-defaults quantity-selector">
                <div class="input-holder plus"><button type="button" value="" class="plus" aria-label="Increase"><svg class=" svg plus" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="19" height="19" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve" aria-hidden="true"><path d="M11 19c-1 0-2 0-3 0 0-2.6 0-5.2 0-8 -3.1 0-5.5 0-8 0 0-1 0-2 0-3 2.6 0 5.2 0 8 0 0-3.1 0-5.5 0-8 1 0 2 0 3 0 0 2.6 0 5.2 0 8 3.1 0 5.5 0 8 0 0 1 0 2 0 3 -2.6 0-5.2 0-8 0C11 14.1 11 16.5 11 19z"></path></svg></button></div>
              </div>

              <div class="">
                 {% if product.variants.size > 1 %}
                <a href="#top" class="btn btn--fill btn--regular btn--color">{{ 'products.product.pick_size' | t }}</a>
                {%else%}
                  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
               <button style="padding: 0 27px;" type="submit" name="add" {% unless product.available %}disabled="disabled"{% endunless %} class="btn btn--fill btn--regular btn--color {% unless product.available %}btn--disabled{%endunless%}">
                  <span id="AddToCartText-{{ section.id }}">{% if product.available %}{{ 'products.product.add_to_cart' | t }}{%else%}{{ 'products.product.sold_out' | t }}{%endif%}</span>
                </button>
                {%endif%}
              </div>
        </div>
        <div style="clear: both" />
      </div>
    </form>
  </div>
</div>
</div>

<div id="mobile-banner" class="z-depth-1 product__content">
  <div class="wrapper">
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="" style="padding-top: 10px;">
      <div class="display-table form__row no-float" style="margin-top: 0px; margin-bottom: 0px;">
        <div class="form__column mobile-half display-table-cell text-left" style="padding-bottom: 0">
          <span  class="h1 price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {% if product.price_varies %}<small style="font-size: 0.5em;">{{ 'products.product.on_sale_from' | t }}</small> {%endif%}{{ current_variant.price | money }}
            </span>
            {% if section.settings.tax_note != blank %}
            <span class="tax-note">{{section.settings.tax_note}}</span>
            {% endif %}
            {% if section.settings.shipping_note != blank %}
            <span class="tax-note"> <a href="{{section.settings.shipping_link}}">{{section.settings.shipping_note}}</a></span>
            {% endif %}

                  <div class="jumpstart-accordion-helper" style="
    position: relative;
    bottom: 10px;
">
        <div class="section">
          <h3 class="h4 title" style="display: block; font-size: 0.8em">{{ 'shopify.feed.more' | t }}</h3>
          <div class="content" style="display: none;"><ul><li>{{product.metafields.text.shipping}}</li><li>{{product.metafields.text.available}}</li></ul>
          
          </div>
        
                    </div>

      </div>
        </div>
        <div class="form__column mobile-half display-table-cell" style="padding-bottom: 0">
              <div class="">
                {% if product.variants.size > 1 %}
                <a href="#top" class="btn btn--fill btn--regular btn--color">{{ 'products.product.pick_size' | t }}</a>
                {%else%}
                  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
               <button style="height: inherit;line-height: 1em;padding: 5px 10px;" type="submit" name="add" {% unless product.available %}disabled="disabled"{% endunless %} class="btn btn--fill btn--regular btn--color {% unless product.available %}btn--disabled{%endunless%}">
                  <span id="AddToCartText-{{ section.id }}">{% if product.available %}{{ 'products.product.add_to_cart' | t }}{%else%}{{ 'products.product.sold_out' | t }}{%endif%}</span>
                </button>
                {%endif%}
              </div>
        </div>
    </div>
    </form>
  </div>
</div>
</div>
<script>
$(document).ready(function(){
  var $window = $(window);
  $window.on('optimizedScroll', function() {
    var offset = $('.cart-box').offset(),
        scroll = $window.scrollTop();
    if($window.width() > 768) {
      var end = $('#shopify-section-footer').offset(),
          $banner = $('#desktop-banner');
      if(scroll < offset.top || scroll > end.top) $banner.removeClass('slide-up');
      else $banner.addClass('slide-up');
    }
    else {
      var $banner = $('#mobile-banner');
      if(scroll < offset.top) $banner.removeClass('slide-down');
      else $banner.addClass('slide-down');
    }
  });
});
</script>
