<div class="nav-bar" role="navigation">
<nav >
  <ul class="site-nav" id="AccessibleNav">
    {% for link in linklists[section.settings.main_linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}
      {% if link.title contains 'Selbsttest'%}
        <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
          <a href="{{ link.url }}" class="site-nav__link {% if link.type == 'collection_link' %} text-bold{% endif %}" title="{{ link.title | escape }}">
            {{ link.title | escape }} <i class="fa fa-angle-down pull-right arrow-dropdown"></i>
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </a>
          <ul class="site-nav__dropdown grid small-gutter mega-menu">
          {% for linklist in linklists %}
          {% if linklist.handle contains 'selbsttest'%}
          <li class="grid__item one-quarter medium-down--one-whole text-left">
          <ul class="">
            <li class="category-header">{{linklist.title}}</li>  
            {% for link in linklist.links %}
              
               <li class="category-title"><a style="padding: 0;" href="{{ link.url }}" class="site-nav__link {% if link.active %} site-nav--active {% endif %}" title="{{ link.title | escape }}">{{ link.title | escape }}</a>
              </li>
              {% endfor %}
          </ul>
          </li>
          {%endif%}
          {%endfor%}

          <li class="grid__item one-whole medium-down--one-whole text-left" style="position: relative;">
          <a href="/collections/alle-cerascreen-produkte" style="color: white;" class="btn btn--regular btn--fill btn--color" title="Alle Tests anzeigen">Alle Tests anzeigen</a></li>

          </ul>
        </li>

      {% elsif linklists[child_list_handle].links != blank %}
      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                  <a href="{{ link.url }}" class="site-nav__link {% if link.type == 'collection_link' %} text-bold{% endif %}" title="{{ link.title | escape }}">
                    {{ link.title | escape }} <i class="fa fa-angle-down pull-right arrow-dropdown"></i>
                    <span class="icon icon-arrow-down" aria-hidden="true"></span>
                  </a>
                  <ul class="site-nav__dropdown">
                    <div>
                      {% for childlink in linklists[child_list_handle].links %}
                        <li class="category-title">
                          <a href="{{ childlink.url }}" class="site-nav__link {% if childlink.active %} site-nav--active {% endif %}" title="{{ childlink.title | escape }}">{{ childlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </div>

                  </ul>
                </li>
      {% else %}
        <li>
          <a href="{{ link.url }}" class="site-nav__link {% if link.active %} site-nav--active {% endif %} {% if link.type == 'collection_link' %} text-bold{% endif %}" title="{{ link.title | escape }}">{{ link.title | escape }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% unless section.settings.menu_product == blank %}
      <li class="btn__buy"><a href="{{ all_products[section.settings.menu_product].url }}" class="btn btn--outline {% if section.settings.menu_style == 'classic' %} btn--small btn--dark {% else %} btn--regular btn--light {% endif %}" title="{{ 'layout.navigation.buy_button' | t }} {{ all_products[section.settings.menu_product].price | money_without_trailing_zeros }}">{{ 'layout.navigation.buy_button' | t }} {{ all_products[section.settings.menu_product].price | money_without_trailing_zeros }}</a></li>
    {% endunless %}

    <li class="btn__search medium-down--hide">
      <a class="btn__search" data-target="#search-tooltip-content-desktop">
        <span class="icon">
          {% include 'asset_svg' with 'cera_search' %}</span>
      </a>
    </li>

<div id="search-tooltip-content" class="hidden">

    <form action="/search" method="get" class="search-bar text-center" role="search"><div class="home-section-title less-margin">{{ 'general.search.label' | t }}</div><input type="search" name="q" value="{{ search.terms | escape }}"><button type="submit" class="btn btn--regular btn--dark btn--fill">{{ 'general.search.submit' | t }}</button></form>{
     
</div>

    

    {% if shop.customer_accounts_enabled %}
      <li class="btn__account">
        <a href="/account{% unless customer %}/login{% endunless %}" title="{{ 'layout.navigation.my_account' | t }}">
          <span class="icon" aria-hidden="true">{% include 'asset_svg' with 'account' %}</span>
          <span class="text">{{ 'layout.navigation.my_account' | t }}</span>
        </a>
      </li>
    {% endif %}

  </ul>

</nav>
  <button id="menu-closer" class="header-button" href="#" title="{{ 'layout.navigation.open_menu' | t }}">
            <span class="fallback-text">{{ 'layout.navigation.open_menu' | t }}</span>
               <span><i class="fa fa-close fa-lg"></i></span>
          </button>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script type="text/javascript">
$(document).ready(function(){
    $(".search-tooltip").tooltip({
      content: function(){return $('#search-tooltip-content').html();},
      html: true,
      placement: 'bottom',
      container: 'body', 
      template:'<div class="popover shipping" role="tooltip"><h3 class="popover-title"></h3><button type="button" id="close" class="close" onclick="$(&quot;.popover.shipping&quot;).popover(&quot;hide&quot;);">×</button><div class="popover-content"></div></div>'
    });
});
</script>

