{% for linklist in linklists%}
{%if linklist.handle contains 'selbsttests'%}
<div class="grid-uniform">
  <div class="grid-item">
    <h3 class="category-header">{{ linklist.title }}</h3>
    <ul class="collection-filters">
      {% comment %}
      Loop through collection tags
      {% endcomment %}
      {% for link in linklist.links %}
      

      <li class="advanced-filter category-title"><a href="{{link.url}}">{{link.title}}</a></li>
     

      {% endfor %}
    </ul>
  </div>
</div>
{%endif%}
{%endfor%}


{% comment %}
  A loop to catch and filter out the different tag categories.
  This is mainly for advanced tagging, but will also help us strip
  out any tag categories from our tags (E.g. remove BRAND_ from BRAND_tag)

{% if template contains 'collection' and collection.all_tags.size > 0 %}
  {% assign categories = '' %}
  {% for tag in collection.all_tags %}
    {% if tag contains '_' %}
      {% capture categories %}{% unless categories == blank  %}{{ categories }}|{% endunless %}{{ tag | split: '_' | first }}{% endcapture %}
    {% endif %}
  {% endfor %}
  {% assign cat_array = categories | split: '|' | uniq %}
{% endif %}




  A customized sidebar for this theme. If advanced tagging is enabled in
  theme settings, prepend your tags with "group" names (E.g. BRAND_) and your
  collection page will create groups of tags to sort by.

  Expansion of https://gist.github.com/darryn/8047749





  {% if collection.all_tags.size > 0 %}

    <div class="grid-uniform">
      {% comment %}
        Loop through tag categories
      {% endcomment %}
      {% for cat_item in cat_array %}
        {% comment %}
          Ignore if tag category is empty
        {% endcomment %}
        {% unless cat_item == '' %}
        <div class="grid-item small--one-half medium--one-third">
          <h3 class="category-header">{{ cat_item }}</h3>
          <ul class="collection-filters">
            {% comment %}
              Loop through collection tags
            {% endcomment %}
            {% for custom_tag in collection.all_tags %}
              {% if custom_tag contains cat_item %}
                {% comment %}
                  Strip out tag category prefix and add/remove link for tag filtering
                {% endcomment %}
                {% if current_tags contains custom_tag %}
                  <li class="advanced-filter active-filter category-title" data-group="{{ cat_item }}" data-handle="{{ custom_tag | handleize }}">{{ custom_tag | remove: cat_item | remove: '_' | link_to_remove_tag: custom_tag }}</li>
                {% else %}
                  <li class="advanced-filter category-title" data-group="{{ cat_item }}">{{ custom_tag | remove: cat_item | remove: '_' | link_to_add_tag: custom_tag }}</li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endunless %}
      {% endfor %}
    </div>

    <script>
    $(function() {
      var currentTags = '{{current_tags}}',
          filters = $('.advanced-filter'),
          activeTag,
          activeHandle;

      filters.each(function() {
        var el = $(this),
            group = el.data('group'),
            isActive = el.hasClass('active-filter');
      });

      filters.on('click', function(e) {
        var el = $(this),
            group = el.data('group'),
            url = el.find('a').attr('href');

        // Continue as normal if we're clicking on the active link
        if ( el.hasClass('active-filter') ) {
          return;
        }

        // Get active group link (unidentified if there isn't one)
        activeTag = $('.active-filter[data-group="'+ group +'"]');

        // If a tag from this group is already selected, remove it from the new tag's URL and continue
        if ( activeTag && activeTag.data('group') === group ) {
          e.preventDefault();
          activeHandle = activeTag.data('handle') + '+';

          // Create new URL without the currently active handle
          url = url.replace(activeHandle, '');

          window.location = url;
        }
      });
    });
    </script>

  {% endif %}



    
      Provide a 'catch-all' link at the top of the list,
      we'd check against the collection.handle, product type, and vendor.

    <ul>
      <li{% unless current_tags %} class="active-filter"{% endunless %}>


          Good for /collections/all collection and regular collections

        {% if collection.handle %}
          <a href="/collections/{{ collection.handle }}">Everything in {{ collection.title }}</a>


          Good for automatic type collections

        {% elsif collection.current_type %}
          <a href="{{ collection.current_type | url_for_type }}">Everything in {{ collection.title }}</a>


          Good for automatic vendor collections

        {% elsif collection.current_vendor %}
          <a href="{{ collection.current_vendor | url_for_vendor }}">Everything in {{ collection.title }}</a>

        {% endif %}
      </li>

      
        And for the good stuff, loop through the tags themselves.
        Strip the prepended categories if they happen to exist.
    
      {% for tag in collection.all_tags %}
        {% assign is_advanced_tag = false %}
        {% for cat_item in cat_array %}
          {% unless cat_item == '' %}
            {% if tag contains cat_item %}
              {% assign is_advanced_tag = true %}
              {% if current_tags contains tag %}
                <li class="active-filter">{{ tag | remove: cat_item | remove: '_' }}</li>
              {% else %}
                <li>{{ tag | remove: cat_item | remove: '_' | link_to_tag: tag }}</li>
              {% endif %}
            {% endif %}

          {% endunless %}
        {% endfor %}

        {% if is_advanced_tag == false %}
          {% if current_tags contains tag %}
            <li class="active-filter">{{ tag }}</li>
          {% else %}
            <li>{{ tag | link_to_tag: tag }}</li>
          {% endif %}
        {% endif %}
      {% endfor %}





{% endcomment %}