<div class="cookie-notification">
	<button class="cookie-notification__button btn btn--regular btn--fill btn--color">{{ 'cookie_notification.button' | t }}</button>
	<p class="cookie-notification__text">
		{{ 'cookie_notification.text' | t }}
		{% if settings.cookie_notification_page != '' %}
			<a class="cookie-notification__link" href="/pages/{{ settings.cookie_notification_page }}">{{ 'cookie_notification.link' | t }}</a>
		{% endif %}
	</p>
</div>