{% if settings.google_tag_manager and settings.google_tag_manager != '' %}
<script type="text/javascript">
	dataLayer = [{
		"template": {{ template | json }}
		,"shop": {
			{% assign keys = 'domain,locale,currency' | split: ',' %}{% for key in keys %}"{{ key }}": {{ shop[key] | json }}{% if forloop.last == false %},
			{% endif %}{% endfor %}
		}
		,"cart": {
			{% assign keys = 'total_price,item_count' | split: ',' %}{% for key in keys %}"{{ key }}": {{ cart[key] | json }},
			{% endfor %}"items": [{% assign keys = 'title,sku,quantity,price' | split: ',' %}{% for item in cart.items %}
				{
					{% for key in keys %}"{{ key }}": {{ item[key] | json }}{% if forloop.last == false %},
					{% endif %}{% endfor %}
				}{% if forloop.last == false %},{% endif %}{% endfor %}
			]
		}{% if template contains 'product' %}
		{% assign keys = 'title,price,available,tags' | split: ',' %},"product": {
			{% for key in keys %}"{{ key }}": {{ product[key] | json }},
			{% endfor %}"variants": [{% assign keys = 'title,sku,price,available' | split: ',' %}{% for variant in product.variants %}
				{
					{% for key in keys %}"{{ key }}": {{ variant[key] | json }}{% if forloop.last == false %},
					{% endif %}{% endfor %}
				}{% if forloop.last == false %},{% endif %}{% endfor %}
			]
		}{% endif %}{% if template contains 'collection' %}
		,"collection": {
			"title": {{ collection.title | json }},
			"products": [
				{% for product in collection.products %}{
					{% assign keys = 'title,price,available,tags' | split: ',' %}{% for key in keys %}"{{ key }}": {{ product[key] | json }},
					{% endfor %}"variants": [{% assign keys = 'title,sku,price,available' | split: ',' %}{% for variant in product.variants %}
						{
							{% for key in keys %}"{{ key }}": {{ variant[key] | json }}{% if forloop.last == false %},
							{% endif %}{% endfor %}
						}{% if forloop.last == false %},{% endif %}{% endfor %}
					]
				}{% if forloop.last == false %},{% endif %}{% endfor %}
			]
		}{% endif %}
	}];
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-{{ settings.google_tag_manager }}');</script>
<!-- End Google Tag Manager -->
{% endif %}
