{% if section.settings.enable %}
<div class="footer-newsletter">  
  <div class="wrapper wrapper--margins-small">
    <div class="grid">
      <div class="grid__item one-half medium-down--one-whole text-center">
        <h3 class="h4">{{section.settings.payments_title}}</h3>
        <a href="{{section.settings.payments_link}}">
        <ul class="inline-list">
          {% if section.settings.payment1 %}<li><img src="{{ section.settings.payment1 | img_url }}"></li>{%endif%}
          {% if section.settings.payment2 %}<li><img src="{{ section.settings.payment2 | img_url }}"></li>{%endif%}
          {% if section.settings.payment3 %}<li><img src="{{ section.settings.payment3 | img_url }}"></li>{%endif%}
          {% if section.settings.payment4 %}<li><img src="{{ section.settings.payment4 | img_url }}"></li>{%endif%}
          {% if section.settings.payment5 %}<li><img src="{{ section.settings.payment5 | img_url }}"></li>{%endif%}
          {% if section.settings.payment6 %}<li><img src="{{ section.settings.payment6 | img_url }}"></li>{%endif%}
        </ul>
        </a>
      </div>
      <div class="grid__item one-half medium-down--one-whole text-center">
        <h3 class="h4">{{section.settings.press_title}}</h3>
        <ul class="inline-list">
           {% if section.settings.press1 %}<li><a href="{{section.settings.press_link1}}"><img src="{{section.settings.press1 | img_url }}"></a></li>{%endif%}
          {% if section.settings.press2 %}<li><a href="{{section.settings.press_link2}}"><img src="{{section.settings.press2 | img_url }}"></a></li>{%endif%}
          {% if section.settings.press3 %}<li><a href="{{section.settings.press_link3}}"><img src="{{section.settings.press3 | img_url }}"></a></li>{%endif%}
          {% if section.settings.press4 %}<li><a href="{{section.settings.press_link4}}"><img src="{{section.settings.press4 | img_url }}"></a></li>{%endif%}
          {% if section.settings.press5 %}<li><a href="{{section.settings.press_link5}}"><img src="{{section.settings.press5 | img_url }}"></a></li>{%endif%}
          {% if section.settings.press6 %}<li><a href="{{section.settings.press_link6}}"><img src="{{section.settings.press6 | img_url }}"></a></li>{%endif%}
        </ul>
      </div>
    </div>
  </div>
</div>
{%endif%}
        