{% if shop.domain contains 'cerascreen.de' or shop.domain contains 'cerascreen.ch' %}
	<link rel="alternate" hreflang="de-DE" href="{{ canonical_url | replace: shop.domain, 'www.cerascreen.de' }}" />
	<link rel="alternate" hreflang="de-CH" href="{{ canonical_url | replace: shop.domain, 'www.cerascreen.ch' }}" />
{% endif %}
