<div class="footer-newsletter newsletter-signup">  
  <div class="wrapper text-center wrapper--margins-small">
    <div class="z-depth-1 padding-box">
    <h5 class="text-left section-title">{{section.settings.newsletter_sub-header}}</h5>
    <p class="h2" style="max-width: 500px; margin: auto;">{{section.settings.newsletter_header}}</p>
    <div class="newsletter text-center password-input-group">
      <form action="{{ section.settings.newsletter_mailchimp-url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <div class="input-group">
            <label for="Email" class="newsletter__label visually-hidden">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" name="EMAIL" id="Email" class="input-group__field newsletter__input" autocorrect="off" autocapitalize="off">
            
            <span class="input-group__btn">
              <button type="submit" class="btn newsletter__submit btn--regular btn--fill btn--color" name="subscribe" id="Subscribe">
                <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
              </button>
            </span>
          </div>
        </form>
    </div>
    </div>
  </div>
</div>

