{% assign header_title = page_header %}

<div class="header__custom display-table parallax-bg">
	<div class="display-table-cell prlx-txt">
		<div class="wrapper wrapper--margins-small">

			<h1 itemprop="name" class="header-title">{{ header_title }}</h1>

			{% if template contains 'article' %}
				{% include 'blog_meta' with blog.comments_enabled? %}
				{% if section.settings.blog_sharing_enabled %}
				<div class="text-center"><p>
		          {% include 'page_share' %}</p>
		      	</div>
		        {% endif %}
			{% elsif template contains 'cart' %}
				<span> {{ 'cart.general.items_count' | t: count: cart.item_count }} </span>
			{% elsif template contains 'collection' %}
				{% unless collection.description == blank %} <span> {{ collection.description }}</span> {% endunless %}
			{% elsif template contains 'search' %}
			    {% if search.performed %}
			      {% if search.results_count == 0 %}
			        <span>{{ 'general.search.no_results' | t: terms: search.terms }}</span>
			      {% else %}
			        <span>{{ 'general.search.results_for' | t: terms: search.terms, count: search.results_count }}</span>
			      {% endif %}
			    {% endif %}
			{% elsif template contains 'password' %}
				<span>{{ shop.password_message }}</span>
          {%elsif template contains '404'%}
          
          
			{% endif %}

   			<hr />

		</div>
	</div>
	<span class="prlx-bg" style="{% if template contains 'article' %}background-image: url('{{article.image | img_url: 'original'}}');{%else%}background-color: {{ settings.color_body_bg_alt }}{%endif%}"></span>
	{% if template contains 'article' %}<span class="prlx-bg color-overlay"></span>{%endif%}
</div>