{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% unless grid_item_width %}
  {%- assign grid_item_width = 'small--one-whole medium--one-half large--one-half desktop--one-third' -%}
{% endunless %}
<div class="{% unless override_classes %}product grid__item {{ grid_item_width }} text-center{% else %}{{ override_classes }}{% endunless %}">
  <div class="hoverable padding-box">
  <a href="{{ product.url | within: collection }}" class="grid__image sale-{{ on_sale }} sold-{{ sold_out }}">
    {% if product.featured_image %}
      <img class="retina-img" src="{{ product.featured_image.src | img_url: 'large' }}" data-retina-src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
    {% else %}
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
    {% if sold_out %}
      <span class="badge badge--sold-out">{{ 'products.product.sold_out' | t }}</span>
    {% elsif on_sale %}
      <span class="badge badge--on-sale">
        {% if product.compare_at_price > product.price %}
          - {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round | remove: '.0'}}%
        {% endif %}
      </span>
    {% endif %}
  </a>

  <p class="h3"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></p>
	{% if product.metafields.spr.reviews %}
  <div style="display: block; min-height: 45px;">
      <span class="shopify-product-reviews-badge"  style="min-height: 45px;" data-id="{{ product.id }}"></span></div>
      {%endif%}
  <p class="price">

    {% if product.price_varies %} {{ 'products.product.on_sale_from' | t }} {% endif %}
    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
    {% else %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    {% endif %}
    {{ product.price | money }}

    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span><br>
      <span class="compare-price">{{ product.compare_at_price | money }}</span>
    {% endif %}

  </p>

  {% if product.variants.size > 1 %}
    <div class="showproduct">
      <a class="btn btn--outline btn--regular btn--color" href="{{ product.url | within: collection }}">{{ 'products.product.show_product' | t }}</a>
    </div>
  {%else%}
    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
      <button type="submit" name="add" id="AddToCart"  class="btn btn--outline btn--regular btn--color {% unless product.available %}btn--disabled{%endunless%}">
        <span id="AddToCartText">{% if product.available %}{{ 'products.product.add_to_cart' | t | truncatewords: 3 | remove: '...' }}{%else%}{{ 'products.product.sold_out' | t }}{%endif%}</span>
      </button>
    </form>
  {%endif%}

</div>
</div>
