<div class="product grid__item small--one-whole medium--one-half large--one-half desktop--one-third text-center">
  <div class="hoverable padding-box">
    {% if item.featured_image %}
      {% assign img = item.featured_image %}
    {% elsif item.image %}
      {% assign img = item.image %}
    {% else %}
      {% assign img = '' %}
    {% endif %}
    {% if img != blank %}
      <a href="{{ item.url }}" class="grid__image">
        <img class="retina-img" src="{{ item | img_url: 'large' }}" data-retina-src="{{ item | img_url: 'grande' }}" alt="{{ item.title | escape }}">
      </a>
    {% endif %}
    <p class="h3">{{ item.title | link_to: item.url }}</p>
    {% if item.excerpt %}
      <p class="excerpt">{{ item.excerpt | strip_html }}</p>
    {% endif %}
    <div class="readmore">
      <a class="btn btn--outline btn--regular btn--color" href="{{ item.url }}">{{ 'blogs.read_more' | t }}</a>
    </div>
  </div>
</div>
