{% assign on_sale = false %}
{% if item.compare_at_price > item.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if item.available %}
  {% assign sold_out = false %}
{% endif %}

{% unless grid_item_width %}
  {%- assign grid_item_width = 'small--one-whole medium--one-half large--one-half desktop--one-third' -%}
{% endunless %}
<div class="product grid__item {{ grid_item_width }} text-center">
  <div class="hoverable padding-box">
  <a href="{{ item.url | within: collection }}" class="grid__image sale-{{ on_sale }} sold-{{ sold_out }}">
    {% if item.featured_image %}
      <img class="retina-img" src="{{ item.featured_image.src | img_url: 'large' }}" data-retina-src="{{ item.featured_image.src | img_url: 'grande' }}" alt="{{ item.featured_image.alt | escape }}">
    {% else %}
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
    {% if sold_out %}
      <span class="badge badge--sold-out">{{ 'products.product.sold_out' | t }}</span>
    {% elsif on_sale %}
      <span class="badge badge--on-sale">{% if item.compare_at_price_max > item.price %}- {{ item.compare_at_price_max | minus: item.price | times: 100.0 | divided_by: item.compare_at_price_max | round | remove: '.0'}}%{% endif %}</span>
    {% endif %}
  </a>

  <p class="h3"><a href="{{ item.url | within: collection }}">{{ item.title }}</a></p>
	{% if item.metafields.spr.reviews %}
  <div style="display: block; min-height: 45px;">
      <span class="shopify-product-reviews-badge"  style="min-height: 45px;" data-id="{{ item.id }}"></span></div>
      {%endif%}
  <p class="price">

    {% if item.price_varies %} {{ 'products.product.on_sale_from' | t }} {% endif %}
    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
    {% else %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    {% endif %}
    {{ item.price | money }}

    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span><br>
      <span class="compare-price">{{ item.compare_at_price | money }}</span>
    {% endif %}

  </p>

  {% if item.variants.size > 1 %}
    <div class="showproduct">
      <a class="btn btn--outline btn--regular btn--color" href="{{ item.url | within: collection }}">{{ 'products.product.show_product' | t }}</a>
    </div>
  {%else%}
    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ item.variants.first.id }}" />
      <button type="submit" name="add" id="AddToCart"  class="btn btn--outline btn--regular btn--color {% unless item.available %}btn--disabled{%endunless%}">
        <span id="AddToCartText">{% if item.available %}{{ 'products.product.add_to_cart' | t | truncatewords: 3 | remove: '...' }}{%else%}{{ 'products.product.sold_out' | t }}{%endif%}</span>
      </button>
    </form>
  {%endif%}

</div>
</div>
