<div class="cera-section cera-video">
	<div class="wrapper wrapper--margins-small">
		<div class="grid">
			<div class="grid__item one-half medium-down--one-whole">
				<div class="grid">
					<div class="grid__item one-whole">
						<h2 class="h4 subheader">{{block.settings.subheader}}</h2>
						<h1 class="h2 mainheader">{{block.settings.mainheader}}</h1>
					</div>
					<div class="grid__item one-third medium-down--one-whole text-center">
						<img src="{{block.settings.image1 | img_url }}">
						<div class="rte">{{block.settings.content1}}</div>
					</div>
					<div class="grid__item one-third medium-down--one-whole text-center">
						<img src="{{block.settings.image2 | img_url }}">
						<div class="rte">{{block.settings.content2}}</div>
					</div>
					<div class="grid__item one-third medium-down--one-whole text-center">
						<img src="{{block.settings.image3 | img_url }}">
						<div class="rte">{{block.settings.content3}}</div>
					</div>
				</div>
			</div>
			<div class="grid__item one-half medium-down--one-whole">
				<h2 class="h4 subheader">{{block.settings.video-title}}</h2>
				{% if block.settings.video contains '<iframe' %}
					{{block.settings.video}}
				{% else %}
					{% include 'video' with block.settings.video %}
				{% endif %}
			</div>
		</div>
	</div>
</div>