<div class="cera-section cera-imagebox">
	  {% if block.settings.image %}
	    {% capture feature_image_url %}{{ block.settings.image | img_url: '900x900' }}{% endcapture %}
	  {% endif %}
	<div class="home-imagebox">
		<div class="grid__item one-half medium-down--one-whole image {% if block.settings.home-featured-align == 'right-img' %} push--large--one-half {% endif %}" {% if feature_image_url %}style="background-image: url('{{ feature_image_url }}')"{% endif %}>
			{% if feature_image_url %}
			<img src="{{ feature_image_url }}" alt="{{ block.settings.home-featured-title | escape }}" />
			{% else %}
			  <div class="placeholder-background imagebox">
			    {{ 'image' | placeholder_svg_tag: 'placeholder-image' }}
			  </div>
			{% endif %}
		</div>
		<div class="content wrapper">
			<div class="grid__item one-half small--text-left medium-down--one-whole content {% if block.settings.home-featured-align == 'left-img' %} push--large--one-half {% else %} pull--no {% endif %}">
				<div class="large--display-table">
					<div class="large--display-table-cell">

						{% unless block.settings.subheader == blank %}
							<h2 class="h4 subheader">{{block.settings.subheader}}</h2>
						  {% endunless %}
						  {% unless block.settings.mainheader == blank %}
							<h1 class="h2 mainheader">{{block.settings.mainheader}}</h1>
						  {% endunless %}
						  {% unless block.settings.home-featured-content == blank %}
						 
							<div class="rte">{{ block.settings.home-featured-content }}</div>
						 
						  {% endunless %}
						  {% unless block.settings.btn-text == blank %}
							<a href="{{block.settings.btn-link}}" class="btn btn--{{block.settings.btn-size}} btn--{{block.settings.btn-fill}} btn--{{block.settings.btn-color}}">{{block.settings.btn-text}}</a>	
						  {% endunless %}

					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<script>
$( document ).ready(function() {  
  $( ".cera-imagebox" ).last().css( "margin-bottom", "2em" );
});
  
</script>