<div class="cera-section cera-quarter_image">
	<div class="wrapper wrapper--margins-small">
		<div class="grid">
			{% if block.settings.align == 'left' %}
			<div class="grid__item one-quarter medium-down--one-whole">
				<img src="{{block.settings.image |img_url: 'large'}}">
			</div>
			<div class="grid__item three-quarters medium-down--one-whole">
				<h2 class="h4 subheader">{{block.settings.subheader}}</h2>
				<div class="rte">{{block.settings.content}}</div>
			</div>
			{%else%}
			<div class="grid__item three-quarters medium-down--one-whole">
				<h2 class="h4 subheader">{{block.settings.subheader}}</h2>
				<div class="rte">{{block.settings.content}}</div>
			</div>
			<div class="grid__item one-quarter medium-down--one-whole">
				<img src="{{block.settings.image |img_url: 'large'}}">
			</div>
			{%endif%}
		</div>
	</div>
</div>