<div class="cera-section cera-content">
	<div class="wrapper wrapper--margins-small">
		{% if block.settings.header %}<h1 class="h2 mainheader">{{ pages[block.settings.page].title }}</h1>{% endif %}
		<div class="rte table-rte">{{ pages[block.settings.page].content }}</div>
	</div>
</div>