{% case block.settings.width %}
        {% when '13.33%' %}
      {%- assign grid_class = 'grid__item large--one-sixth medium--one-third text-center' -%}
      {% when '20%' %}
      {%- assign grid_class = 'grid__item large--one-fifth medium--one-half text-center' -%}
    {% when '25%' %}
      {%- assign grid_class = 'grid__item large--one-quarter medium--one-half text-center' -%}
    {% when '33%' %}
      {%- assign grid_class = 'grid__item large--one-third text-center' -%}
    {% when '50%' %}
      {%- assign grid_class = 'grid__item large--one-half medium--one-half text-center' -%}
    {% when '100%' %}
      {%- assign grid_class = 'grid__item one-whole--text-center' -%}
{% endcase %}


<div class="cera-section cera-icons">
  <div class="wrapper wrapper--margins-small">
    <div class="grid__item one-whole">
      <h1 class="h2 mainheader text-center">{{block.settings.header}}</h1>
      <div class="rte">
        {% assign icons = pages[block.settings.page].content | split: '$NEXT'%}
        <div class="grid">
          {% for icon in icons %}
          <div class="{{grid_class}}">
            {{ icon }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

