<div class="cera-section cera-products">
   {%- assign collection = collections[block.settings.featured_collection] -%}
<div class="wrapper wrapper--margins-small">
  
 
  {% if block.settings.title != blank %}
      <h2 class="h4 subheader"><a style="color: inherit;" href="{{collection.url}}">{{block.settings.title}}</a></h2>
  {% endif %}

   {% if block.settings.show_view_all %}
    <div class="text-center large--hide">
      <a href="{{ collection.url }}" class="btn btn--large btn--outline btn--color">
        {{ 'collections.general.all' | t }}
      </a>
    </div>
  {% endif %}
  
  {% case block.settings.grid %}
    {% when '2' %}
      {%- assign grid_item_width = 'large--one-half medium-down--one-whole' -%}
      {%- assign image_size = '540x600' -%}
    {% when '3' %}
      {%- assign grid_item_width = 'small--one-half large--one-third' -%}
      {%- assign image_size = '345x550' -%}
    {% when '4' %}
      {%- assign grid_item_width = 'large--one-quarter medium--one-half small--one-whole' -%}
      {%- assign image_size = '250x' -%}
    {% when '5' %}
      {%- assign grid_item_width = 'small--one-half large--one-fifth' -%}
      {%- assign image_size = '195x' -%}
  {% endcase %}

  {%- assign product_limit = block.settings.grid | times: block.settings.rows -%}

  <div class="collection-list grid-uniform">
    {% for product in collection.products limit: product_limit %}
      
        {% include 'product-grid-item', grid_image_width: image_size %}
      
    {% else %}

      {% for i in (1..product_limit) %}
        <div class="grid__item {{ grid_item_width }}">
          <div class="grid-view-item">
            <a href="#" class="grid-view-item__link">
              <div class="grid-view-item__image">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
              <div class="grid-view-item__meta">
                {% include 'product-price' %}
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
  {% if block.settings.show_view_all %}
    <div class="text-center">
      <a href="{{ collection.url }}" class="btn btn--large btn--outline btn--color">
        {{ 'collections.general.all' | t }}
      </a>
    </div>
  {% endif %}

</div>