<div class="cera-section cera-banner">
	<div class="banner-background">
		<div class="wrapper wrapper--margins-small">
			<div class="grid">
				<div class="grid__item one-whole {{ block.settings.align }}">
					<h1 class="h2 grey-header" style="padding:50px 0;">{{ block.settings.header }}</h1>
				</div>
			</div>
		</div>
	</div>
	{% if block.settings.content != blank %}
	<div class="wrapper wrapper--margins-small">
		<div class="grid">
			<div class="grid__item one-whole">
				<div class="rte">{{block.settings.content}}</div>
			</div>
		</div>
	</div>
	{%endif%}
</div>

{% if block.settings.background != blank %}

      <style>
        @media screen and (max-width: 768px), screen and (max-height: 768px) {
           .banner-background {
            background-image: url("{{ block.settings.background | img_url: '1024x' }}");
            min-height: 300px;
            position: relative;
          }
        }
        @media screen and (min-width: 769px) and (max-width: 1024px), screen and (max-height: 769px) {
          .banner-background {
            background-image: url("{{ block.settings.background | img_url: '1024x' }}");
            min-height: 300px;
            position: relative;
          }
        }
        @media screen and (min-width: 1025px), and screen (min-height:1024px) {
          .banner-background {
            background-image: url("{{ block.settings.background | img_url: '2048x' }}");
            min-height: 300px;
            position: relative;
          }
        }

        // Retina Queries

        @media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-width: 600px),
        only screen and (-o-min-device-pixel-ratio: 13/10) and (max-width: 600px),
        only screen and (min-resolution: 120dpi) and (max-width: 600px) {
          .banner-background {
            background-image: url("{{ block.settings.background | img_url: '600x', scale: 2 }}");
          }
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width:601px) and (max-width: 767px),
        only screen and (-o-min-device-pixel-ratio: 13/10) and (min-width:601px) and (max-width: 767px),
        only screen and (min-resolution: 120dpi) and (min-width:601px) and (max-width: 767px) {
          .banner-background {
            background-image: url("{{ block.settings.background | img_url: '767x', scale: 2 }}");
          }
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width:768px),
        only screen and (-o-min-device-pixel-ratio: 13/10) and (min-width:768px),
        only screen and (min-resolution: 120dpi) and (min-width:768px) {
          .banner-background {
            background-image: url("{{ block.settings.background | img_url: '1024x', scale: 2 }}");
          }
        }

      </style>
      {%endif%}