<div class="cera-section cera-card">
	<div class="wrapper wrapper--margins-small">
		{% if block.settings.header != blank %}
		<h1 class="h2 mainheader text-center">{{block.settings.header}}</h1>
		{% endif %}
		<div class="material-card z-depth-1">
			<div class="grid">
				{% if block.settings.align == 'left'%}
				<div class="grid__item one-third medium-down--one-whole">
					<img src="{{block.settings.image | img_url: 'large' }}">
				</div>
				<div class="grid__item two-thirds medium-down--one-whole" style="padding-top: 20px; padding-bottom: 20px;">
					<img src="{{block.settings.thumb | img_url }}">
					<h2 class="h4 subheader">{{block.settings.subheader}}</h2>
					<div class="rte">{{block.settings.content}}</div>
					<a href="{{block.settings.btn-link}}" class="btn btn--{{block.settings.btn-size}} btn--{{block.settings.btn-fill}} btn--{{block.settings.btn-color}}">{{block.settings.btn-text}}</a>	
				</div>
				{% else%}
				<div class="grid__item two-thirds medium-down--one-whole" style="padding-top: 20px; padding-bottom: 20px;">
					<img src="{{block.settings.thumb | img_url }}">
					<h2 class="h4 subheader">{{block.settings.subheader}}</h2>
					<div class="rte">{{block.settings.content}}</div>
					<a href="{{block.settings.btn-link}}" class="btn btn--{{block.settings.btn-size}} btn--{{block.settings.btn-fill}} btn--{{block.settings.btn-color}}">{{block.settings.btn-text}}</a>	
				</div>
				<div class="grid__item one-third medium-down--one-whole">
					<img src="{{block.settings.image | img_url: 'large' }}">
				</div>
				{%endif%}
			</div>
		</div>
	</div>
</div>