<div class="cera-section cera-content">
	<div class="wrapper wrapper--margins-small">
      {% if block.settings.header %}<div class="rte"><h1 class="h2 mainheader">{{ pages[block.settings.page].title }}</h1></div>{% endif %}
		<div class="rte">{{ pages[block.settings.page].content }}</div>
	</div>
</div>
