<div class="cera-section cera-image">
	<div class="wrapper wrapper--margins-small">
		<div class="grid">
			<div class="grid__item one-whole text-center">
				<img src="{{block.settings.image | img_url: 'original'}}">
			</div>
		</div>
	</div>
</div>