{% case block.settings.width1 %}
      {% when '25%' %}
      {%- assign grid_class1 = 'grid__item large--one-quarter medium--one-half small--text-center' -%}
      {% when '33%' %}
      {%- assign grid_class1 = 'grid__item large--one-third medium-down--text-center' -%}
      {% when '50%' %}
      {%- assign grid_class1 = 'grid__item large--two-one-half medium--one-half small--text-center' -%}
      {% when '66%' %}
      {%- assign grid_class1 = 'grid__item large--two-thirds medium--one-whole small--text-center' -%}
      {% when '75%' %}
      {%- assign grid_class1 = 'grid__item large--three-quarters medium--one-whole small--text-center' -%}
      {% when '100%' %}
      {%- assign grid_class1 = 'grid__item one-whole--text-center' -%}
{% endcase %}
{% case block.settings.width2 %}
      {% when '25%' %}
      {%- assign grid_class2 = 'grid__item large--one-quarter medium--one-half small--text-center' -%}
      {% when '33%' %}
      {%- assign grid_class2 = 'grid__item large--one-third medium-down--text-center' -%}
      {% when '50%' %}
      {%- assign grid_class2 = 'grid__item large--one-half medium--one-half small--text-center' -%}
      {% when '66%' %}
      {%- assign grid_class2 = 'grid__item large--two-thirds medium--one-whole small--text-center' -%}
      {% when '75%' %}
      {%- assign grid_class2 = 'grid__item large--three-quarters medium--one-whole small--text-center' -%}
      {% when '100%' %}
      {%- assign grid_class2 = 'grid__item one-whole--text-center' -%}
{% endcase %}
{% case block.settings.width3 %}
      {% when '25%' %}
      {%- assign grid_class3 = 'grid__item large--one-quarter medium--one-half small--text-center' -%}
      {% when '33%' %}
      {%- assign grid_class3 = 'grid__item large--one-third medium-down--text-center' -%}
      {% when '50%' %}
      {%- assign grid_class3 = 'grid__item large--one-half medium--one-half small--text-center' -%}
      {% when '66%' %}
      {%- assign grid_class3 = 'grid__item large--two-thirds medium--one-whole small--text-center' -%}
      {% when '75%' %}
      {%- assign grid_class3 = 'grid__item large--three-quarters medium--one-whole small--text-center' -%}
      {% when '100%' %}
      {%- assign grid_class3 = 'grid__item one-whole--text-center' -%}
{% endcase %}
{% case block.settings.width4 %}
      {% when '25%' %}
      {%- assign grid_class4 = 'grid__item large--one-quarter medium--one-half small--text-center' -%}
      {% when '33%' %}
      {%- assign grid_class4 = 'grid__item large--one-third medium-down--text-center' -%}
      {% when '50%' %}
      {%- assign grid_class4 = 'grid__item large--one-half medium--one-half small--text-center' -%}
      {% when '66%' %}
      {%- assign grid_class4 = 'grid__item large--two-thirds medium--one-whole small--text-center' -%}
      {% when '75%' %}
      {%- assign grid_class4 = 'grid__item large--three-quarters medium--one-whole small--text-center' -%}
      {% when '100%' %}
      {%- assign grid_class4 = 'grid__item one-whole--text-center' -%}
{% endcase %}

<div class="cera-section cera-list_third">
	<div class="wrapper wrapper--margins-small">
		<h1 class="h2 mainheader text-center">{{block.settings.mainheader}}</h1>
		<div class="grid">
			<div class="{{grid_class1}}">
				<div class="rte">{{block.settings.html1}}</div>	
			</div>
			<div class="{{grid_class2}}">
				<div class="rte">{{block.settings.html2}}</div>	
			</div>
			<div class="{{grid_class3}}">
				<div class="rte">{{block.settings.html3}}</div>	
			</div>
			<div class="{{grid_class4}}">
				<div class="rte">{{block.settings.html4}}</div>	
			</div>
		</div>
	</div>
</div>