<div class="cera-section cera-hero">
	<div class="hero-background">
		<div class="wrapper wrapper--margins-small">
			<div class="grid small-gutter">
				<div class="grid__item one-whole text-left">
					<h2 class="h4 subheader">{{block.settings.subheader}}</h2>
					<h1 class="h2 mainheader">{{block.settings.mainheader}}</h1>
				</div>
				<div class="grid__item one-fifth medium-down--one-half">
					<img src="{{block.settings.image | img_url: 'medium' }}">
				</div>
				<div class="grid__item two-fifths medium-down--one-half">
					<div class="rte">{{block.settings.content}}</div><br>
					<a href="{{block.settings.btn-link}}" class="btn btn--{{block.settings.btn-size}} btn--{{block.settings.btn-fill}} btn--{{block.settings.btn-color}}">{{block.settings.btn-text}}</a>	
				</div>
			</div>
		</div>
	</div>
</div>


{% if block.settings.background != blank %}

      <style>
        @media screen and (max-width: 768px), screen and (max-height: 768px) {
           .hero-background {
            background-image: url("{{ block.settings.background | img_url: 'grande' }}");
            min-height: 30vw;
            position: relative;
               background-position-x: 60%;
                  background-size: cover;
          }
        }
        @media screen and (min-width: 769px) and (max-width: 1024px), screen and (max-height: 769px) {
          .hero-background {
            background-image: url("{{ block.settings.background | img_url: '1024x' }}");
            min-height: 30vw;
            position: relative;
               background-position-x: 60%;
                  background-size: cover;
          }
        }
        @media screen and (min-width: 1025px), and screen (min-height:1024px) {
          .hero-background {
            background-image: url("{{ block.settings.background | img_url: '2048x' }}");
            max-height: 400px;
            position: relative;
            background-position-x: 60%;
                  background-size: cover;
          }
        }

        // Retina Queries

        @media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-width: 600px),
        only screen and (-o-min-device-pixel-ratio: 13/10) and (max-width: 600px),
        only screen and (min-resolution: 120dpi) and (max-width: 600px) {
          .hero-background {
            background-image: url("{{ block.settings.background | img_url: '600x', scale: 2 }}");
          }
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width:601px) and (max-width: 767px),
        only screen and (-o-min-device-pixel-ratio: 13/10) and (min-width:601px) and (max-width: 767px),
        only screen and (min-resolution: 120dpi) and (min-width:601px) and (max-width: 767px) {
          .hero-background {
            background-image: url("{{ block.settings.background | img_url: '767x', scale: 2 }}");
          }
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width:768px),
        only screen and (-o-min-device-pixel-ratio: 13/10) and (min-width:768px),
        only screen and (min-resolution: 120dpi) and (min-width:768px) {
          .hero-background {
            background-image: url("{{ block.settings.background | img_url: '1024x', scale: 2 }}");
          }
        }

      </style>
      {%endif%}