<div class="top-bar mediun-down--hide">
<div class="wrapper">
  <div class="grid">
    <div class="grid__item one-third medium-down--hide text-left">
      <h5 style="margin: 0;"><a href="{{section.settings.top-bar_link-left}}" title="{{section.settings.top-bar_text-left}}">{{section.settings.top-bar_text-left}}</a></h5>
    </div>
    <div class="grid__item one-third medium-down--hide text-center">
      <h5 style="margin: 0;"><a href="{{section.settings.top-bar_center}}" title="{{section.settings.top-bar_center-text}}">{{section.settings.top-bar_center-text}}</a></h5>
    </div>
    <div class="grid__item one-third medium-down--hide text-center">
      <h5 style="margin: 0;"><a href="{{section.settings.top-bar_link}}" title="{{section.settings.top-bar_link-text}}">{{section.settings.top-bar_link-text}}</a> <a href="/cart" class="btn__cart" title="{{ 'layout.navigation.shopping_cart' | t }}">
          <span class="icon" aria-hidden="true">{% unless cart.item_count > 99 %}{{ cart.item_count }}{% endunless %}{% include 'asset_svg' with 'cart' %}</span>
          <span class="text">{{ 'layout.navigation.shopping_cart' | t }}</span>
        </a></h5>

    </div>
  </div>
</div>
</div>