{% assign sections = product.description | split: '<'%}{%capture description %}{{sections[0] | remove: '$EXCERPT' | strip_newlines}}{%endcapture%}

<!-- Mastertag Codes for Program: cerascreen DE (id:16684) -->
{% if template contains 'page'%}
<!-- Start of Generic Page Mastertag Code: -->
			<div class="zx_1CB8249479712CB7F7AF zx_mediaslot">
				<script type="text/javascript">
					window._zx = window._zx || [];
					window._zx.push({"id":"1CB8249479712CB7F7AF"});
					(function(d) {
						var s = d.createElement("script"); s.async = true;
						s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//static.zanox.com/scripts/zanox.js";
						var a = d.getElementsByTagName("body")[0]; a.appendChild(s);
					}(document));
				</script>
			</div>
<!-- End of Generic Page Mastertag Code -->
{% elsif template contains 'search'%}
{%assign iteration = 0 %}{% for item in search.results %}{% if item.object_type == 'product'%}{%assign iteration = iteration | plus: 1%}{%endif%}{%endfor%}
<!-- Start of Search Page Mastertag Code: -->
			<div class="zx_10252C452800B7471074 zx_mediaslot">
				<script type="text/javascript">
				var zx_search_query = "{{search.terms}}";
				var zx_products = [{%assign counter = 0 %}{% for item in search.results %}{% if item.object_type == 'product'%}{%assign counter = counter | plus: 1%}
				  {
				     "identifier": "{{item.selected_or_first_available_variant.sku}}",
				     "amount": "{{item.price | divided_by: 100 }}",
				     "currency": "{{shop.currency}}",
				     "quantity": "{{counter}} {{iteration}}"
				  }{% unless counter == iteration %},{% endunless %}{%endif%}{% endfor %}];
				var zx_language = "{{shop.locale}}";
					window._zx = window._zx || [];
					window._zx.push({"id":"10252C452800B7471074"});
					(function(d) {
						var s = d.createElement("script"); s.async = true;
						s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//static.zanox.com/scripts/zanox.js";
						var a = d.getElementsByTagName("body")[0]; a.appendChild(s);
					}(document));
				</script>
			</div>
<!-- End of Search Page Mastertag Code -->
{%elsif template contains 'product'%}
<!-- Start of Product Page Mastertag Code: -->
			<div class="zx_7BC20A3E103E5E67FD80 zx_mediaslot">
				<script type="text/javascript">
				var zx_identifier = "{{product.selected_or_first_available_variant.sku}}";
				var zx_fn = "{{product.title}}";
				var zx_description = "{{description}}";
				var zx_category = "{{product.type}}";
				var zx_brand = "{{product.vendor}}";
				var zx_price = "{{product.selected_or_first_available_variant.price | money }}";
				var zx_amount = "{{product.selected_or_first_available_variant.price | divided_by: 100}}";
				var zx_currency = "{{shop.currency}}";
				var zx_url = "https://{{request.host}}{{product.url}}";
				var zx_photo = "https:{{product.featured_image | product_img_url: 'original'}}";
				var zx_language = "{{shop.locale}}";
					window._zx = window._zx || [];
					window._zx.push({"id":"7BC20A3E103E5E67FD80"});
					(function(d) {
						var s = d.createElement("script"); s.async = true;
						s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//static.zanox.com/scripts/zanox.js";
						var a = d.getElementsByTagName("body")[0]; a.appendChild(s);
					}(document));
				</script>
			</div>
<!-- End of Product Page Mastertag Code -->
{%elsif template contains 'index'%}
<!-- Start of Home Page Mastertag Code: -->
			<div class="zx_19103E46743E5838ACDC zx_mediaslot">
				<script type="text/javascript">
					window._zx = window._zx || [];
					window._zx.push({"id":"19103E46743E5838ACDC"});
					(function(d) {
						var s = d.createElement("script"); s.async = true;
						s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//static.zanox.com/scripts/zanox.js";
						var a = d.getElementsByTagName("body")[0]; a.appendChild(s);
					}(document));
				</script>
			</div>
<!-- End of Home Page Mastertag Code -->
{%elsif template contains 'collection'%}
<!-- Start of Category Page Mastertag Code: -->
			<div class="zx_25E47AC86A3E36ABD0BD zx_mediaslot">
				<script type="text/javascript">
				var zx_category = "{{collection.title}}";
					window._zx = window._zx || [];
					window._zx.push({"id":"25E47AC86A3E36ABD0BD"});
					(function(d) {
						var s = d.createElement("script"); s.async = true;
						s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//static.zanox.com/scripts/zanox.js";
						var a = d.getElementsByTagName("body")[0]; a.appendChild(s);
					}(document));
				</script>
			</div>
<!-- End of Category Page Mastertag Code -->

<!-- Start of Checkout Page Mastertag Code: see https://shopify.com/admin/settings/checkout -->

			
<!-- End of Checkout Page Mastertag Code -->
{%elsif template contains 'cart'%}
<!-- Start of Basket Page Mastertag Code: -->
			<div class="zx_1D600F8D73104BF8D29B zx_mediaslot">
				<script type="text/javascript">
				var zx_products = [{% for item in cart.items %}
				{
				     "identifier": "{{item.sku}}",
				     "amount": "{{item.price | divided_by: 100}}",
				     "currency": "{{shop.currency}}",
				     "quantity": "{{item.quantity}}"
				  }{% unless forloop.last %},{% endunless %}{% endfor %}];
				var zx_language = "{{shop.locale}}";
					window._zx = window._zx || [];
					window._zx.push({"id":"1D600F8D73104BF8D29B"});
					(function(d) {
						var s = d.createElement("script"); s.async = true;
						s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//static.zanox.com/scripts/zanox.js";
						var a = d.getElementsByTagName("body")[0]; a.appendChild(s);
					}(document));
				</script>
			</div>
<!-- End of Basket Page Mastertag Code -->
{%elsif template contains 'newsletter'%}
<!-- Start of Registration Page Mastertag Code: -->
			<div class="zx_128E41294D52A4C64576 zx_mediaslot">
				<script type="text/javascript">
					window._zx = window._zx || [];
					window._zx.push({"id":"128E41294D52A4C64576"});
					(function(d) {
						var s = d.createElement("script"); s.async = true;
						s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//static.zanox.com/scripts/zanox.js";
						var a = d.getElementsByTagName("body")[0]; a.appendChild(s);
					}(document));
				</script>
			</div>
<!-- End of Registration Page Mastertag Code -->
{%endif%}

