<!doctype html>
<html class="no-js">
<head>
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {% if template == 'password' %}{{ shop.name }}{% else %}{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% endif %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {% if template == 'product' %}
    {% if product.type == 'PPC' %}
      <meta name="robots" content="noindex,follow" />
    {% elsif product.metafields.global.robots %}
      <meta name="robots" content="{{ product.metafields.global.robots }}" />
    {% endif %}
  {% endif %}
  
  {% if template == 'product' and product.metafields.global.canonical %}
    <link rel="canonical" href="{{ product.metafields.global.canonical }}">
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}">
  {% endif %}

  {% comment %} File exclided, fonts loaded via CSS not Google Fonts {% include 'head_fonts' %}{% endcomment%}
  {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css' | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    var theme = {
      strings:{
        sold_out: {{ 'products.product.sold_out' | t | json }},
        add_to_cart: {{ 'products.product.add_to_cart' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        increase_quantity: {{ 'cart.general.increase_quantity' | t | json }},
        reduce_quantity: {{ 'cart.general.reduce_quantity' | t | json }}
      },
      settings: {
        ajax_cart_enable: {% if settings.ajax_cart_enable %}{{ settings.ajax_cart_enable | json }}{% else %}null{% endif %},
        moneyFormat: {{ shop.money_format | json }}
      }
    };
  </script>

  {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}

  {%- capture shopify_header_code -%}{{ content_for_header }}{%- endcapture -%}
  {%- assign script_tags = shopify_header_code | split: '<script' -%}
  {%- for script_tag in script_tags -%}
    {%- if script_tag contains 'asyncLoad' -%}
      <script
      {%- assign script_parts = script_tag | split: ',' -%}
      {%- for script_part in script_parts -%}
        {%- unless script_part contains 'trustedshops' and template contains 'article' -%}
          {{- script_part -}}
          {%- unless forloop.last -%},{%- endunless -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- else -%}
      {%- unless forloop.first -%}<script{%- endunless -%}{{- script_tag -}}
    {%- endif -%}
  {%- endfor -%}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% include 'country-specific'%}

  {% include 'language-href' %}
  
  {% include 'google-tag-manager-head' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  {% include 'cookie-notification' %}

  {% if template == "index" %}
    {% if settings.home_section_a == "home-video" %}
      {% if settings.home_video_bg_text_color == "is-dark" %}
        {% assign color = "is-dark" %}
      {% elsif settings.home_video_bg_text_color == "is-light" %}
        {% assign color = "is-light" %}
        {% if settings.logo_use_inverted %}
          {% assign use_logo_inverted = true %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
<!-- HUND -->
  <div id="PageContainer"{% if color %} class="{{ color }}"{% endif %}>

    {% section 'header' %}

    <main class="main-content" role="main">

      {{ content_for_layout }}

    </main>

    {% section 'footer' %}
	{% include 'bottom-bar'%}
  </div>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ 'mdbootstrap.min.js' | asset_url | script_tag }}

  <script type="text/javascript">

    {% capture jQuery_plus_icon %} {% include "asset_svg" with "plus" %} {% endcapture %}
    {% capture jQuery_minus_icon %} {% include "asset_svg" with "minus" %} {% endcapture %}
    {% capture jQuery_close_icon %} {% include "asset_svg" with "close" %} {% endcapture %}
    {% capture jQuery_arrow_down_icon %} {% include "asset_svg" with "arrow_down" %} {% endcapture %}
    {% capture jQuery_arrow_left_icon %} {% include "asset_svg" with "arrow_left" %} {% endcapture %}
    {% capture jQuery_arrow_right_icon %} {% include "asset_svg" with "arrow_right" %} {% endcapture %}

    jQuery.themeAssets = {
      plus: '{{ jQuery_plus_icon | lstrip | rstrip }}',
      minus: '{{ jQuery_minus_icon | lstrip | rstrip }}',
      close: '{{ jQuery_close_icon | lstrip | rstrip }}',
      arrow_down: '{{ jQuery_arrow_down_icon | lstrip | rstrip }}',
      arrow_left: '{{ jQuery_arrow_left_icon | lstrip | rstrip }}',
      arrow_right: '{{ jQuery_arrow_right_icon | lstrip | rstrip }}'
    }

  </script>

  <script>
    {% if newHash %}
      $(function() {
        timber.updateHash('{{ newHash }}');
      });
    {% endif %}
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% include 'zanox' %}
  {% include 'google-tag-manager-body' %}
</body>
</html>
