{% capture header_title %} {{ 'customer.reset_password.title' | t }} {% endcapture %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins wrapper--center">

    <div class="form--customer">
      {% form 'reset_customer_password' %}

        {% if form.errors %}
              <div class="errors">
               <ul>
                 <li>
                   {{'layout.forms.error' | t}}
                 </li>
              </ul>
              </div>
            {%endif%}

        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        <div class="form__row">
          <div class="form__column full">
            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
          </div>
        </div>

        <div class="form__row">
          <div class="form__column full">
            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}">
          </div>
        </div>

        <input type="submit" class="btn btn--regular btn--color btn--fill" value="{{ 'customer.reset_password.submit' | t }}">

      {% endform %}
    </div>

</div>
