{% capture header_title %} {{ 'general.404.title' | t }} {% endcapture %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins-small wrapper__article">
	
  {% if pages['404'].content%}
	<div class="rte">{{pages['404'].content}}</div>
  <form action="/search" method="get" class="search-bar text-center" role="search" style="margin-top: 30px;">
      <div class="home-section-title less-margin">{{ 'general.search.label' | t }}</div>
      <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}">
      <button type="submit" class="btn btn--regular btn--dark btn--fill">
        {{ 'general.search.submit' | t }}
      </button>
    </form>
  {%else%}
  <h2 class="home-section-title less-margin">{{ 'general.404.subtitle' | t }}</h2>
  <p>{{ 'general.404.content_html' | t }}</p>
  {%endif%}
</div>

<!-- Begin Transportr -->
{% include 'transportr' %}
<!-- End Transportr -->