<div class="wrapper" style="margin-top: 20px;">
{% include 'breadcrumbs'%}
</div>
<div class="wrapper wrapper--margins-small">

  {% paginate collection.products by 30 %}

    <div class="grid small-gutter">
	  <div class="grid__item one-whole">
	    <h1 class="text-center collection-title">{{collection.title}}</h1>

        {% if collection.image %}
          <div class="collection-image">
            <img src="{{ collection.image.src | img_url: '1024x1024' }}" alt="{{ collection.image.alt }}" />
          </div>
        {% endif %}

        {{collection.description}}

        {% assign grid_item_width = 'large-up--one-third desktop--one-quarter small--one-whole medium--one-half  ' %}

        <div class="grid grid-uniform collection-list">
          {% for product in collection.products %}

            {% include 'product-grid-item', grid_item_width: grid_item_width %}

          {% endfor %}
        </div>

        {% include 'page_pagination' %}
      </div>

    </div>

  {% endpaginate %}

</div>

{% unless shop.products_count == 0 %}
  {{ '//cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.min.js' | script_tag }}
{% endunless   %}