{% assign header_title = page.title %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins wrapper__article">
  <div class="rte">
    {% assign icons = page.content | split: '$NEXT'%}
    <div class="grid">
      {% for icon in icons %}
      <div class="grid__item one-third medium-down--one-half">
      	{{ icon }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
