{% capture header_title %} {{ 'general.search.title' | t }} {% endcapture %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins">

{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

  {% paginate search.results by 24 %}

    {% if search.performed %}

      <ul class="tabs">
        <li class="tabs__tab">
          <input class="tabs__input" type="radio" id="tab-products" name="search-tab" value="products" checked="checked" />
          <label class="tabs__label" for="tab-products" style="width: 50%; width: calc(50% - 9px);">{{ 'general.search.products' | t }}</label>
          <div class="tabs__content">
            <div class="collection-list grid-uniform small-gutter">

            {% for item in search.results %}
              {% if item.object_type == 'product' %}
                {% if item.type != 'PPC' %}
                  {% include 'search-product-grid-item' %}
                {% endif %}
              {% endif %}
            {% endfor %}

            </div>
          </div>
        </li>
        <li class="tabs__tab">
          <input class="tabs__input" type="radio" id="tab-articles" name="search-tab" value="articles" />
          <label class="tabs__label" for="tab-articles" style="left: 50%; left: calc(50% + 9px); width: 50%; width: calc(50% - 9px);">{{ 'general.search.articles' | t }}</label>
          <div class="tabs__content">
            <div class="collection-list grid-uniform small-gutter">

            {% for item in search.results %}
              {% if item.object_type != 'product' %}
                {% include 'search-article-grid-item' %}
              {% endif %}
            {% endfor %}

            </div>
          </div>
        </li>
      </ul>

      {% include 'page_pagination' %}

    {% endif %}

    <form action="/search" method="get" class="search-bar text-center" role="search">
      <div class="home-section-title less-margin">{{ 'general.search.label' | t }}</div>
      <input type="search" name="q" value="{{ search.terms | escape }}">
      <button type="submit" class="btn btn--regular btn--dark btn--fill">
        {{ 'general.search.submit' | t }}
      </button>
    </form>

  {% endpaginate %}

{% endunless %}

{{ '//cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.min.js' | script_tag }}
