{% assign header_title = article.title %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins-small">
  <div class="grid">
  <div class="grid__item one-whole large--three-quarters">
  <article itemscope itemtype="http://schema.org/Article">
    <div class="grid">
      <div class="grid__item one-whole">
      <div class="article__content rte js-article-index" itemprop="articleBody">
        {{ article.content }}
      </div>
    </div>

    {% for tag in article.tags %}
    {% if tag contains 'product'%}
    {% assign var = tag | remove: 'product_' %}
    {% for product in collections.all.products %}
    {% if product.handle == var %}
    <div class="grid__item one-whole">
      {%include 'article-product-item'%}
    </div>
    {%endif%}
    {%endfor%}
    {%endif%}
    {%endfor%}

    <div class="grid__item one-whole">
      {% if section.settings.blog_sharing_enabled or section.settings.blog_rss_enabled %}
        
        <div class="article__sharing">
          <h2 class="h3 section-title section-header">{{ 'blogs.article.share' | t }}</h2>
          {% if section.settings.blog_sharing_enabled %}
            {% include 'page_share' %}
          {% endif %}

          {% if section.settings.blog_rss_enabled %}
            <div class="subscribe-link"><span class="label">{{ 'general.sharing.rss_subscribe' | t }}</span><a href="{{ blog.url }}.atom" target="_blank">{% include 'asset_svg' with 'rss' %}</a></div>
          {% endif %}

        </div>

      {% endif %}
    </div>

    <div class="grid__item one-whole">
    {% if blog.comments_enabled? %}

      {% paginate article.comments by 10 %}

        <div id="Comments">
          <h2 class="h3 section-header">{{ 'blogs.comments.with_count' | t: count: article.comments_count }}</h2>

          {% if comment and comment.created_at %}
            <p class="note form-success">
              {% if blog.moderated? %}
                {{ 'blogs.comments.success_moderated' | t }}
              {% else %}
                {{ 'blogs.comments.success' | t }}
              {% endif %}
            </p>
          {% endif %}

          {% if article.comments_count > 0 %}

            <ul class="comments-list">

              {% for comment in article.comments %}

                <li id="{{ comment.id }}" class="comment grid">

                  <div class="comment__meta grid__item one-quarter medium-down--one-whole">
                    <strong>{{ comment.author }}</strong>
                    <time datetime="{{ comment.created_at | date: '%Y-%m-%d' }}">{{ comment.created_at | date: format: 'month_day_year' }}</time>
                  </div>

                  <div class="comment__content rte grid__item three-quarters medium-down--one-whole right">
                    {{ comment.content }}
                  </div>

                </li>

              {% endfor %}

            </ul>

            {% include 'page_pagination' %}

          {% else %}

            <ul class="comments-list">
              <li class="comment grid">
                <div class="comment__content rte grid__item one-whole left">
                  {{ 'blogs.comments.no_comments' | t }}
                </div>
              </li>
            </ul>

          {% endif %}

          <div>

            {% form 'new_comment', article %}

              <h2 id="AddCommentTitle" class="h3 home-section-title">{{ 'blogs.comments.title' | t }}</h2>

              {% if form.errors %}
              <div class="errors">
               <ul>
                 <li>
                   {{'layout.forms.error' | t}}
                 </li>
              </ul>
              </div>
            {%endif%}

              <div class="form__row">

                <div class="form__column half">
                  <label for="CommentAuthor">{{ 'blogs.comments.name' | t }}</label>
                  <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} error{% endif %}" value="{{ form.author }}" autocapitalize="words">
                </div>

                <div class="form__column half">
                  <label for="CommentEmail">{{ 'blogs.comments.email' | t }}</label>
                  <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                </div>

                <div class="form__column full">
                  <label for="CommentBody">{{ 'blogs.comments.message' | t }}</label>
                  <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} error{% endif %}">{{ form.body }}</textarea>
                </div>

              </div>

              {% if blog.moderated? %}
                <p>{{ 'blogs.comments.moderated' | t }}</p>
              {% endif %}

              <input type="submit" class="btn btn--regular btn--color btn--outline" value="{{ 'blogs.comments.post' | t }}">

              {% if form.errors %}
                {% assign newHash = 'AddCommentTitle' %}
              {% endif %}

              {% if form.posted_successfully? %}
                {% assign newHash = 'Comments' %}
              {% endif %}

            {% endform %}

          </div>

        </div>


      {% endpaginate %}

    {% endif %}

    </div>
  </div>
  </article>
  </div>
  <div class="grid__item one-whole large--one-quarter">
    <div class="article__newsletter">
      {% if section.settings.newsletter_enabled %}
        <h2 class="h3 section-header section-title">{{section.settings.newsletter_sub-header}}</h2>
        <p>{{section.settings.newsletter_header}}</p>
        <div class="newsletter">
          <form action="{{ section.settings.newsletter_mailchimp-url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <div class="input-group">
              <label for="Email" class="newsletter__label visually-hidden">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" name="EMAIL" id="Email" class="input-group__field newsletter__input" autocorrect="off" autocapitalize="off">
              <span class="input-group__btn">
                <button type="submit" class="btn newsletter__submit btn--regular btn--fill btn--color" name="subscribe" id="Subscribe">
                  <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                </button>
              </span>
            </div>
          </form>
        </div>
      {% endif %}
    </div>
  	<div class="article__index">
  		<h2 class="h3 section-header section-title">{{section.settings.index_title}}</h2>
  		<a class="article__index-handle" href="#">{{section.settings.index_title}}</a>
  		<a class="article__index-close" href="#"><i class="fa fa-close"></i></a>
  		<ul class="article__index-list"></ul>
  	</div>
  	<div class="article__rel-articles">
	  <h2 class="h3 section-header section-title">{{ section.settings.articles_title }}</h2>
	  <div class="grid">
        {% for article in blog.articles limit: section.settings.articles_amount %}
          {% include 'article-grid-item', override_classes: 'article__rel-article grid__item one-whole medium-down--one-half' %}
        {%endfor%}
      </div>
    </div>
    {%- assign collection = collections[section.settings.products_collection] -%}
    <div class="article__rel-products">
	  <h2 class="h3 section-header section-title"><a href="{{collection.url}}">{{ section.settings.products_title }}</a></h2>
	  <div class="grid">
	    {% for product in collection.products limit: section.settings.products_amount %}
          {% include 'product-grid-item', override_classes: 'article__rel-product grid__item text-center one-whole medium-down--one-half' %}
        {%endfor%}
      </div>
	</div>
  </div>

</div>

{% schema %}
  {
    "name": "Article pages",
    "settings": [
      {
        "type": "header",
        "content": "Blog related"
      },
      {
        "type": "checkbox",
        "id": "blog_sharing_enabled",
        "label": "Enable blog post sharing",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_rss_enabled",
        "label": "Enable rss link"
      },
      {
        "type": "header",
        "content": "Newsletter Signup"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enabled",
        "label": "Enable newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_sub-header",
        "default": "Newsletter",
        "label": "Small Header"
      },
      {
        "type": "textarea",
        "id": "newsletter_header",
        "default": "Jetzt anmelden und 5% Gutschein erhalten!",
        "label": "Big Header"
      },
      {
        "type": "text",
        "id": "newsletter_mailchimp-url",
        "label": "Mailchimp Form Action URL"
      },
      {
        "type": "header",
        "content": "Index Anchors"
      },
      {
        "type": "text",
        "id": "index_title",
        "default": "Sprungmarken",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Related Articles"
      },
      {
        "type": "text",
        "id": "articles_title",
        "label": "Title"
      },
      {
        "type": "range",
        "id": "articles_amount",
        "min": 0,
        "max": 20,
        "step": 1,
        "label": "Amount of Articles",
        "default": 3
      },
      {
        "type": "header",
        "content": "Related Products"
      },
      {
        "type": "collection",
        "id": "products_collection",
        "label": "Collection"
      },
      {
        "type": "text",
        "id": "products_title",
        "label": "Title"
      },
      {
        "type": "range",
        "id": "products_amount",
        "min": 0,
        "max": 20,
        "step": 1,
        "label": "Amount of Products",
        "default": 3
      }
    ]
  }
{% endschema %}