{% include 'landing-header'%}
<div id="cera-content__24">
	{% for block in section.blocks %}
  		<div {{ block.shopify_attributes }}>
	    	{% case block.type %}
	    		{% when 'banner' %}
	    		{%include 'section-banner'%}
	    		{% when 'card' %}
	    		{%include 'section-card'%}
	    		{% when 'content' %}
	    		{%include 'section-content'%}
	    		{% when 'hero' %}
	    		{%include 'section-hero'%}
	    		{% when 'icons' %}
	    		{%include 'section-icons'%}
	    		{% when 'image' %}
	    		{%include 'section-image'%}
	    		{% when 'imagebox' %}
	    		{%include 'section-imagebox'%}
	    		{% when 'list_third' %}
	    		{%include 'section-list_third'%}
	    		{% when 'quarter_image' %}
	    		{%include 'section-quarter_image'%}
	    		{% when 'symptoms' %}
	    		{%include 'section-symptoms'%}
	    		{% when 'table' %}
	    		{%include 'section-table'%}
	    		{% when 'products' %}
	    		{%include 'section-products'%}
	    		{% when 'video' %}
	    		{%include 'section-video'%}
	    	{%endcase%}
	    </div>
	{%endfor%}
</div>



{% schema %}
  {
    "name": "Content",
    "blocks": [
      {
        "type": "banner",
        "name": "Banner",
        "settings": [
          	{
				"type": "select",
				"id": "align",
				"label": "Header alignment",
				"default": "text-left",
				"options": [
					{
						"value": "text-left",
						"label": "Left"
					},
					{
						"value": "text-right",
						"label": "Right"
					},
					{
						"value": "text-center",
						"label": "Center"
					}
				]
			},
          {
            "type": "text",
            "id": "header",
            "label": "Banner Headline",
            "default": "Talk about your brand"
          },
          {
            "type": "image_picker",
            "id": "background",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text (leave blank if it should not be displayed)"
          }
        ]
      },
      {
        "type": "card",
        "name": "Material Card",
        "settings": [
        {
			"type": "select",
			"id": "align",
			"label": "Image alignment",
			"default": "left",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "right",
					"label": "Right"
				}
			]
		},
          {
            "type": "text",
            "id": "header",
            "label": "Headline",
            "default": "Talk about your brand"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "thumb",
            "label": "Thumbnail"
          },
          {
            "type": "text",
            "id": "subheader",
            "label": "Subheader above text",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "btn-link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "btn-text",
            "label": "Button text"
          },
          {
            "type": "select",
            "id": "btn-size",
            "label": "Button size",
            "default": "regular",
				"options": [
					{
						"value": "small",
						"label": "Small"
					},
					{
						"value": "regular",
						"label": "Regular"
					},
					{
						"value": "large",
						"label": "Large"
					}
				]
          },
          {
            "type": "select",
            "id": "btn-color",
            "label": "Button color",
            "default": "color",
				"options": [
					{
						"value": "color",
						"label": "Light"
					},
					{
						"value": "dark",
						"label": "Dark"
					},
					{
						"value": "neutral",
						"label": "Neutral"
					}
				]
          },
          {
            "type": "select",
            "id": "btn-fill",
            "label": "Button fill",
            "default": "fill",
				"options": [
					{
						"value": "fill",
						"label": "Fill"
					},
					{
						"value": "outline",
						"label": "Outline"
					}
				]
          }
        ]
      },
    {
        "type": "content",
        "name": "Content",
        "settings": [
		{
            "type": "page",
            "id": "page",
            "label": "Page"
          },
          {
            "type": "checkbox",
            "id": "header",
            "label": "Show page header as title?"
          }
        ]
      },
      {
        "type": "hero",
        "name": "Hero",
        "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background Image"
          },
        {
            "type": "text",
            "id": "subheader",
            "label": "Subheader",
            "default": "Talk about your brand"
          },
          {
            "type": "text",
            "id": "mainheader",
            "label": "Main header",
            "default": "Talk about your brand"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "btn-link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "btn-text",
            "label": "Button text"
          },
          {
            "type": "select",
            "id": "btn-size",
            "label": "Button size",
            "default": "regular",
				"options": [
					{
						"value": "small",
						"label": "Small"
					},
					{
						"value": "regular",
						"label": "Regular"
					},
					{
						"value": "large",
						"label": "Large"
					}
				]
          },
          {
            "type": "select",
            "id": "btn-color",
            "label": "Button color",
            "default": "color",
				"options": [
					{
						"value": "color",
						"label": "Light"
					},
					{
						"value": "dark",
						"label": "Dark"
					},
					{
						"value": "neutral",
						"label": "Neutral"
					}
				]
          },
          {
            "type": "select",
            "id": "btn-fill",
            "label": "Button fill",
            "default": "fill",
				"options": [
					{
						"value": "fill",
						"label": "Fill"
					},
					{
						"value": "outline",
						"label": "Outline"
					}
				]
          }
        ]
      },
      {
        "type": "icons",
        "name": "Icons",
        "settings": [
          {
            "type": "text",
            "id": "header",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page"
          },
          {
			"type": "select",
			"id": "width",
			"label": "Container width",
			"default": "25%",
			"options": [
				{
					"value": "13.33%",
					"label": "13.33%"
				},
				{
					"value": "20%",
					"label": "20%"
				},
				{
					"value": "25%",
					"label": "25%"
				},
				{
					"value": "33%",
					"label": "33%"
				},
				{
					"value": "50%",
					"label": "50%"
				},
				{
					"value": "100%",
					"label": "100%"
				}
			]
		}
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      },
      {
        "type": "imagebox",
        "name": "Imageboxes",
        "settings": [
          {
			"type": "select",
			"id": "home-featured-align",
			"label": "Alignment",
			"default": "left-img",
			"options": [
				{
					"value": "left-img",
					"label": "Image on left"
				},
				{
					"value": "right-img",
					"label": "Image on right"
				}
			]
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "subheader",
			"label": "Subheader",
			"default": "Talk about your brand"
		},
		{
			"type": "text",
			"id": "mainheader",
			"label": "Heading",
			"default": "Talk about your brand"
		},
		{
			"type": "text",
			"id": "home-featured-content",
			"label": "HTML"
		},
		{
            "type": "url",
            "id": "btn-link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "btn-text",
            "label": "Button text"
          },
          {
            "type": "select",
            "id": "btn-size",
            "label": "Button size",
            "default": "regular",
				"options": [
					{
						"value": "small",
						"label": "Small"
					},
					{
						"value": "regular",
						"label": "Regular"
					},
					{
						"value": "large",
						"label": "Large"
					}
				]
          },
          {
            "type": "select",
            "id": "btn-color",
            "label": "Button color",
            "default": "color",
				"options": [
					{
						"value": "color",
						"label": "Light"
					},
					{
						"value": "dark",
						"label": "Dark"
					},
					{
						"value": "neutral",
						"label": "Neutral"
					}
				]
          },
          {
            "type": "select",
            "id": "btn-fill",
            "label": "Button fill",
            "default": "fill",
				"options": [
					{
						"value": "fill",
						"label": "Fill"
					},
					{
						"value": "outline",
						"label": "Outline"
					}
				]
          }
        ]
      },
      {
        "type": "list_third",
        "name": "HTML Columns",
        "settings": [
          {
            "type": "text",
            "id": "mainheader",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "select",
            "id": "width1",
            "label": "Container width",
            "default": "25%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "html1",
            "label": "HTML Content Column 1"
          },
          {
            "type": "select",
            "id": "width2",
            "label": "Container width",
            "default": "25%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "html2",
            "label": "HTML Content Column 2"
          },
          {
            "type": "select",
            "id": "width3",
            "label": "Container width",
            "default": "25%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "html3",
            "label": "HTML Content Column 3"
          },
          {
            "type": "select",
            "id": "width4",
            "label": "Container width",
            "default": "25%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "html4",
            "label": "HTML Content Column 4"
          }
        ]
      },
      {
        "type": "quarter_image",
        "name": "Quarter Image",
        "settings": [
                  {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
			"type": "select",
			"id": "align",
			"label": "Image alignment",
			"default": "left",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "right",
					"label": "Right"
				}
			]
		},
          {
            "type": "text",
            "id": "subheader",
            "label": "Headline",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      },
      {
        "type": "symptoms",
        "name": "Symptoms",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
          }
        ]
      },
      {
        "type": "table",
        "name": "Table",
        "settings": [
          {
            "type": "page",
            "id": "page",
            "label": "Page"
          },
          {
            "type": "checkbox",
            "id": "header",
            "label": "Show page header as title?"
          }
        ]
      },
      {
      "type": "products",
      "name": "Featured collection",
    "settings": [
      {
       "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      },
      {
       "type": "text",
        "id": "title",
        "label": "Titel"
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row",
        "default": "3",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": false
      }
    ]
},
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "text",
            "id": "mainheader",
            "label": "Headline",
            "default": "Talk about your brand"
          },
          {
            "type": "text",
            "id": "subheader",
            "label": "Subheader",
            "default": "Subheader"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content1",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content2",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content3",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "video-title",
            "label": "Video Title",
            "default": "Video Title"
          },
          {
            "type": "textarea",
            "id": "video",
            "label": "Video embed code (mp4-file or <iframe...)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "banner"
          }
        ]
      }
    ]
  }
{% endschema %}