<div id="home-clients" class="index-section home-section">
  <div class="home-clients">


	{% assign cols = section.blocks.size %}
	<!-- {{ cols }} -->
	{% case cols %}
	  {% when 1 %}
	    {% assign grid_class = 'grid__item one-whole' %}
	  {% when 2 %}
	    {% assign grid_class = 'grid__item one-half' %}
	  {% when 3 %}
	    {% assign grid_class = 'grid__item one-third' %}
	  {% when 4 %}
	    {% assign grid_class = 'grid__item one-quarter' %}
	  {% when 5 %}
	    {% assign grid_class = 'grid__item one-fifth' %}
	  {% else %}
	    {% assign grid_class = 'grid__item one-sixth medium-down--one-third' %}
	{% endcase %}

	<div class="wrapper">

	  <ul class="clients-list grid small-gutter">

		{% for block in section.blocks %}

			<li class="{{ grid_class }}" {{ block.shopify_attributes }}>
				<span class="dummy-holder"></span>
				<div class="img-container">
					<div class="dummy-centered"></div>
					{% if block.settings.link != blank %}
					  <a href="{{ block.settings.link }}" target="_blank">
					{% endif %}
					{% if block.settings.image != blank %}
					  <img src="{{ block.settings.image | img_url }}" alt="{{ block.settings.image.alt | escape }}" />
					{% else %}
					  {{ 'logo' | placeholder_svg_tag: 'clients-list placeholder-svg' }}
					{% endif %}
					{% if block.settings.link != blank %}
					  </a>
					{% endif %}
				</div>
			</li>


		{% endfor %}

	  </ul>
	</div>
  </div>
</div>

{% schema %}
  {
    "name": "Logo list",
    "max_blocks": 20,
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      },
	  {
        "type": "logo_test2",
        "name": "Logo Test2",
        "settings": [
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link2",
            "label": "Link",
            "info": "Optional"
          }
        ]
      },
	  {
        "type": "logo_test7",
        "name": "Logo Test3",
        "settings": [
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link3",
            "label": "Link",
            "info": "Optional"
          }
        ]
      },
	  {
        "type": "logo_test8",
        "name": "Logo Test4",
        "settings": [
          {
            "type": "image_picker",
            "id": "image4",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link4",
            "label": "Link",
            "info": "Optional"
          }
        ]
      },
  	  {
        "type": "logo_test9",
        "name": "Logo Test5",
        "settings": [
          {
            "type": "image_picker",
            "id": "image5",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link5",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
