{%- assign social_icons = false -%}

{% if
  settings.social_twitter != blank
  or settings.social_facebook != blank
  or settings.social_pinterest != blank
  or settings.social_instagram != blank
  or settings.social_tumblr != blank
  or settings.social_youtube != blank
  or settings.social_vimeo != blank
  or settings.social_tumblr != blank
  or settings.social_flickr != blank
  or settings.social_email != blank
  or settings.social_linkedin != blank
  or settings.social_google != blank
%}
  {%- assign social_icons = true -%}
{% endif %}
{%include 'icon-footer'%}
{% unless template == 'article' %}
	{%include 'newsletter-footer'%}
{% endunless %}
    <footer class="site-footer small--text-center" role="contentinfo">
      {% if social_icons %}
      <div class="wrapper wrapper--margins-xsmall">
        <div class="text-center">
          <ul class="inline-list social-icons">
            {% include 'footer_social-icons' %}
          </ul>
        </div>
      </div>
         {% endif %}
      <div class="wrapper text-center">        
		<div class="grid">
          <div class="grid__item one-quarter medium-down--one-half">
          {% if section.settings.footer_linklist %}
            <h4>{{linklists['footer1'].title}}</h4>
            <ul class="">
              {% for link in linklists['footer1'].links %}
              <li><a class="footer-link" href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a></li>
              {% endfor %}
            </ul>
            <hr>
             <h4>{{linklists['footer5'].title}}</h4>
            <ul class="">
              {% for link in linklists['footer5'].links %}
              <li><a class="footer-link" href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
          </div>
          <div class="grid__item one-quarter medium-down--one-half">
          {% if section.settings.footer_linklist %}
             <h4>{{linklists['footer2'].title}}</h4>
            <ul class="">
              {% for link in linklists['footer2'].links %}
              <li><a class="footer-link" href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a></li>
              {% endfor %}
            </ul>
            <hr>
             <h4>{{linklists['footer6'].title}}</h4>
            <ul class="">
              {% for link in linklists['footer6'].links %}
              <li><a class="footer-link" href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
          </div>
          <div class="grid__item one-quarter medium-down--one-half">
          {% if section.settings.footer_linklist %}
             <h4>{{linklists['footer3'].title}}</h4>
            <ul class="">
              {% for link in linklists['footer3'].links %}
              <li><a class="footer-link" href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a></li>
              {% endfor %}
            </ul>
            <hr>
             <h4>{{linklists['footer7'].title}}</h4>
            <ul class="">
              {% for link in linklists['footer7'].links %}
              <li><a class="footer-link" href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
          </div>
          <div class="grid__item one-quarter medium-down--one-half">
          {% if section.settings.footer_linklist %}
             <h4>{{linklists['footer4'].title}}</h4>
            <ul class="">
              {% for link in linklists['footer4'].links %}
              <li><a class="footer-link" href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a></li>
              {% endfor %}
            </ul>
            <hr>
             <h4>{{linklists['footer8'].title}}</h4>
            <ul class="">
              {% for link in linklists['footer8'].links %}
              <li><a class="footer-link" href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
          </div>
        </div>

       

      </div>

    </footer>

{% schema %}
  {
  	"name": "Footer",
  	"settings": [
  		{
  			"type": "image_picker",
  			"id": "footer_logo",
  			"label": "Logo image",
  			"info": "200px wide .png recommended"
  		},
  		{
  			"type": "text",
  			"id": "footer_logo_max_width",
  			"label": "Custom logo width (in pixels)",
  			"default": "50",
  			"info": "Do not add the 'px' unit"
  		},
  		{
  			"type": "checkbox",
  			"id": "footer_newsletter_enable",
  			"label": "Show newsletter",
  			"default": false
  		},
  		{
  			"type": "link_list",
  			"id": "footer_linklist",
  			"label": "Menu",
  			"default": "footer"
  		},
  		{
  			"type": "checkbox",
  			"id": "footer_payment_enable",
  			"label": "Show payment methods"
  		},
		{
  			"type": "checkbox",
  			"id": "enable",
  			"label": "Enable press and payment icons"
  		},
		{
  			"type": "header",
  			"content": "Payments"
  		},
		{
            "type": "text",
            "id": "payments_title",
            "default": "Sichere Bezahlung",
            "label": "Payments Title"
        },
		{
            "type": "text",
            "id": "payments_link",
            "default": "/pages/zahlung",
            "label": "Link zur Zahlungspage"
        },
		{
            "type": "image_picker",
            "id": "payment1",
            "label": "Payment Icon 1 (png)"
        },
		{
            "type": "image_picker",
            "id": "payment2",
            "label": "Payment Icon 2 (png)"
        },
		{
            "type": "image_picker",
            "id": "payment3",
            "label": "Payment Icon 3 (png)"
        },
		{
            "type": "image_picker",
            "id": "payment4",
            "label": "Payment Icon 4 (png)"
        },
		{
            "type": "image_picker",
            "id": "payment5",
            "label": "Payment Icon 5 (png)"
        },
		{
            "type": "image_picker",
            "id": "payment6",
            "label": "Payment Icon 6 (png)"
        },
		{
  			"type": "header",
  			"content": "Press"
  		},
		{
            "type": "text",
            "id": "press_title",
            "default": "Bekannt aus der Presse",
            "label": "Presse Title"
        },
		{
            "type": "image_picker",
            "id": "press1",
            "label": "Press Icon 1 (png)"
        },
		{
            "type": "text",
            "id": "press_link1",
            "default": "/",
            "label": "Link zum Artikel"
        },
		{
            "type": "image_picker",
            "id": "press2",
            "label": "Press Icon 2 (png)"
        },
		{
            "type": "text",
            "id": "press_link2",
            "default": "/",
            "label": "Link zum Artikel"
        },
		{
            "type": "image_picker",
            "id": "press3",
            "label": "Press Icon 3 (png)"
        },
		{
            "type": "text",
            "id": "press_link3",
            "default": "/",
            "label": "Link zum Artikel"
        },
		{
            "type": "image_picker",
            "id": "press4",
            "label": "Press Icon 4 (png)"
        },
		{
            "type": "text",
            "id": "press_link4",
            "default": "/",
            "label": "Link zum Artikel"
        },
		{
            "type": "image_picker",
            "id": "press5",
            "label": "Press Icon 5 (png)"
        },
		{
            "type": "text",
            "id": "press_link5",
            "default": "/",
            "label": "Link zum Artikel"
        },
		{
            "type": "image_picker",
            "id": "press6",
            "label": "Press Icon 6 (png)"
        },
		{
            "type": "text",
            "id": "press_link6",
            "default": "/",
            "label": "Link zum Artikel"
        },
		{
  			"type": "header",
  			"content": "Newsletter Signup"
  		},
		{
            "type": "text",
            "id": "newsletter_sub-header",
            "default": "Newsletter",
            "label": "Small Header"
        },
		{
            "type": "textarea",
            "id": "newsletter_header",
            "default": "Jetzt anmelden und 5% Gutschein erhalten!",
            "label": "Big Header"
        },
		{
            "type": "text",
            "id": "newsletter_mailchimp-url",
            "label": "Mailchimp Form Action URL"
         }
  	]
  }
{% endschema %}
