<div data-section-id="{{ section.id }}" data-section-type="header-section">
{% include 'top-bar'%}
<header class="site-header site-header--{{ section.settings.menu_style }} {% if section.settings.menu_text_color %}{{ section.settings.menu_text_color }}{% endif %}" role="banner">
      <div class="wrapper">
        <div class="clearfix" style="height:100%;">
        {% if section.settings.logo_max_width != empty and section.settings.logo != blank %}
          {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <style>
          .site-header__logo {
            max-width:{{ section.settings.logo_max_width }}px;
          }
        </style>
        {% else %}
          {% assign image_size = "400x" %}
          <style>
          .site-header__logo {
            max-width: {{ image_size | slice: -1 }}px;
          }
        </style>
        {% endif %}

        {% if template == 'index' %}
          <h1 class="site-header__logo {% if section.settings.logo %} display-table use-image" style="max-width:{{ image_size | slice: -1 }}px;"{% endif %} itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1 site-header__logo {% if section.settings.logo %} display-table use-image" style="max-width:{{ image_size | slice: -1 }}px;"{% endif %} itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          {% if section.settings.logo %}
            {% assign logo_inverted_url = section.settings.logo-inverted | img_url: image_size %}
            <a href="/" itemprop="url" class="site-header__logo-link display-table-cell{% if section.settings.logo_use_inverted %} logo--has-inverted{% endif %}">
              <img src="{{ section.settings.logo | img_url: 'original' }}" alt="{{ shop.name }}" itemprop="logo"  id="logo">
            </a>
            {% if section.settings.logo_use_inverted and section.settings.logo-inverted != blank %}
              <a href="/" itemprop="url" class="site-header__logo-link display-table-cell logo--inverted">
                <img src="{{ section.settings.logo-inverted | img_url: image_size }}" alt="{{ shop.name }}" itemprop="logo" id="logo">
              </a>
            {% endif %}
          {% else %}
            <a href="/" itemprop="url" class="site-header__logo-text">{{ shop.name }}</a>
          {% endif %}
        {% if template == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}

        {%include 'cera-menu'%}

        <div class="mobile-header-buttons">
          <button id="menu-opener" class="header-button" title="{{ 'layout.mobile_abbr.menu' | t }}">

              {% include 'asset_svg' with 'cera_menu' %}

          </button>
          <button class="header-button btn__search" data-target="#search-tooltip-content-mobile" title="{{ 'layout.mobile_abbr.search' | t }}">
               {% include 'asset_svg' with 'cera_search' %}
		</button>

           
      		
           <button class="header-button" title="{{ 'layout.mobile_abbr.account' | t }}">
            <a href="{{ section.settings.top-bar_link }}"> {% include 'asset_svg' with 'cera_user' %}    </a>
          </button>
      
          
          <button class="header-button" title="{{ 'layout.mobile_abbr.cart' | t }}">
           <a href="/cart" class="btn__cart">
         {% include 'asset_svg' with 'cera_cart' %}
          </a>
          </button>
          
        </div>
                  </div>

         <div id="search-tooltip-content-mobile" class="searchbox">

                <form action="/search" method="get" class="search-bar text-center" role="search">
                  <div class="embed-submit-field">
                    <input placeholder="{{ 'general.search.placeholder' | t }}" type="search" name="q" value="{{ search.terms | escape }}">
                     <button type="submit" class="btn btn--regular btn--dark btn--fill">{{ 'general.search.submit' | t }}</button>
                    <span class="search-close" data-target="#search-tooltip-content-mobile">{% include 'asset_svg' with 'cera_close' %}</span>
                  </div>
                 
               </form>
         </div>
       
       

      </div>
  <div id="search-tooltip-content-desktop" class="searchbox">
	<div class="wrapper">
                <form action="/search" method="get" class="search-bar text-center" role="search">
                  <div class="embed-submit-field">
                    <input placeholder="{{ 'general.search.placeholder' | t }}" type="search" name="q" value="{{ search.terms | escape }}">
                     <button type="submit" class="btn btn--regular btn--dark btn--fill">{{ 'general.search.submit' | t }}</button>
                    <span class="search-close" data-target="#search-tooltip-content-desktop">{% include 'asset_svg' with 'cera_close' %}</span>
                  </div>
                 
               </form>
         </div>
             </div>

    </header>
</div>

{% schema %}
  {
  	"name": "Header",
  	"settings": [
  		{
  			"type": "header",
  			"content": "Logo"
  		},
  		{
  			"type": "image_picker",
  			"id": "logo",
  			"label": "Logo image",
  			"info": "200px wide .png recommended"
  		},
  		{
  			"type": "checkbox",
  			"id": "logo_use_inverted",
  			"label": "Use an inverted logo"
  		},
  		{
  			"type": "image_picker",
  			"id": "logo-inverted",
  			"label": "Inverted logo",
  			"info": "Use this with dark slideshow images for better visibility"
  		},
  		{
  			"type": "text",
  			"id": "logo_max_width",
  			"label": "Custom logo width (in pixels)",
  			"default": "250",
  			"info": "Do not add the 'px' unit"
  		},
  		{
  			"type": "header",
  			"content": "Navigation"
  		},
  		{
  			"type": "link_list",
  			"id": "main_linklist",
  			"label": "Menu",
  			"default": "main-menu"
  		},
  		{
  			"type": "select",
  			"id": "menu_style",
  			"label": "Menu style",
  			"options": [
  				{
  					"value": "classic",
  					"label": "Classic"
  				},
  				{
  					"value": "drawer",
  					"label": "Drawer"
  				}
  			]
  		},
  		{
  			"type": "select",
  			"id": "menu_text_color",
  			"label": "Classic menu color",
  			"options": [
  				{
  					"value": "is-dark",
  					"label": "Dark"
  				},
  				{
  					"value": "is-light",
  					"label": "Light"
  				}
  			],
  			"info": "Use this when the menu is over dark sections for better visibility"
  		},
  		{
  			"type": "product",
  			"id": "menu_product",
  			"label": "Product for \"buy now\" button"
  		},
		{
  			"type": "header",
  			"content": "Top Bar"
  		},
      {
            "type": "text",
            "id": "top-bar_link-left",
            "default": "https://www.cerascreen.de",
            "label": "Link Links"
        },
		{
            "type": "textarea",
            "id": "top-bar_text-left",
            "default": "Brauchen Sie Hilfe?",
            "label": "Text left"
        },
        {
            "type": "text",
            "id": "top-bar_center",
            "default": "https://www.cerascreen.de",
            "label": "Link Mitte"
        },
    {
            "type": "text",
            "id": "top-bar_center-text",
            "default": "KOSTENLOSER VERSAND",
            "label": "Text"
         },
		{
            "type": "text",
            "id": "top-bar_link",
            "default": "https://www.cerascreen.de",
            "label": "Link My Cerascreen"
        },
		{
            "type": "text",
            "id": "top-bar_link-text",
            "default": "My Cerascreen",
            "label": "Link rechts"
         }
  	]
  }
{% endschema %}
