<div class="index-section home-product home-section" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product">

  <div class="wrapper wrapper--margins">
    <div class="product grid">

      {%- assign product = all_products[section.settings.featured_product] -%}

      {% if product != blank %}

        {% assign current_variant = product.selected_or_first_available_variant %}
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
        <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

        <div class="product__image grid__item one-half medium-down--one-whole">
          <div id="slider-{{ section.id }}" class="regular-slider flexslider">
            <ul class="slides">
              {% if product.images.size > 0 %}
                <li class="slide" data-index="0" data-variant-img="{{ featured_image.id }}">
                  <a href="{{ featured_image | img_url: '2048x2048' }}" class="image-popup">
                    <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}">
                  </a>
                </li>
                {% if product.images.size > 1 %}
                  {% assign index = 0 %}
                  {% for image in product.images %}
                    {% unless image contains featured_image %}
                      {% assign index = index | plus: 1 %}
                      <li class="slide" data-index="{{ index }}" data-variant-img="{{ image.id }}">
                        <a href="{{ image | img_url: '2048x2048' }}" class="image-popup">
                          <img src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
                        </a>
                      </li>
                    {% endunless %}
                  {% endfor %}
                {% endif %}
              {% else %}
                <li class="slide">
                {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="product__content grid__item one-half">
          <h3 class="home-section-title" itemprop="name">{{ 'homepage.other.buy_button' | t }} {{ product.title }}</h3>
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

            <meta itemprop="priceCurrency" content="{{ shop.currency }}">

            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

              <span id="ProductPrice-{{ section.id }}" class="h1 price" itemprop="price">
                {{ current_variant.price | money }}
              </span>

              {% if product.compare_at_price_max > product.price %}
                <p id="ComparePrice-{{ section.id }}" class="h3 price">
                  {{ current_variant.compare_at_price | money }}
                </p>
              {% endif %}

              <div class="form__row" style="margin-top: 10px">

                  <select name="id" id="productSelect-{{ section.id }}" class="product-single__variants">
                    {% for variant in product.variants %}
                      {% if variant.available %}

                        <option {% if variant == current_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                      {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </select>

                  <div id="quantity-selector-{{ section.id }}" class="form__column quantity-selector">
                    <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qty-remove-defaults quantity-selector">
                  </div>

                  <div class="form__column">
                  <label>&nbsp;</label>
                    <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="btn btn--fill btn--regular btn--color">
                      <span id="AddToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span>
                    </button>
                  </div>

              </div>

            </form>

          </div>

        </div>


      {% else %}
          <div class="grid helper-section">

            <!-- onboarding -->
            <div class="product__image grid__item one-half">
              <h3 class="home-section-title" itemprop="name">{{ 'homepage.other.buy_button' | t }} {{ 'homepage.onboarding.product_title' | t }}</h3>
              {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
              <div class="text-center">{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}</div>
            </div>

            <div class="product__content grid__item one-half">
              <h3 class="home-section-title" itemprop="name">{{ 'homepage.other.buy_button' | t }} {{ product.title }}</h3>
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                 <form>
                  <span id="ProductPrice-{{ section.id }}" class="h1 price" itemprop="price">{{ '9999' | money }}</span>
                  <div class="form__row" style="margin-top: 10px">
                    <div id="quantity-selector-{{ section.id }}" class="form__column">
                      <label for="Quantity" class="quantity-selector-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                      <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qty-remove-defaults quantity-selector">
                    </div>
                    <div class="form__column">
                      <label>&nbsp;</label>
                      <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="btn btn--fill btn--regular btn--color">
                        <span id="AddToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span>
                      </button>
                    </div>
                  </div>
                 </form>
              </div>
            </div>

          </div>

      {% endif %}
      </div>
    </div>
  </div>

{% unless product.empty? %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
  {
    "name": "Featured product",
    "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      }
  ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product"
      }
    ]
  }
{% endschema %}
