<div data-section-id="{{ section.id }}" data-section-type="list-collection-template">

{% assign header_title = page_title %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins">

  <div class="collection-list grid-uniform small-gutter">
  {% case section.settings.grid %}
      {% when '2' %}
        {%- assign grid_item_width = 'small--one-whole medium--one-half large--one-half' -%}
      {% when '3' %}
        {%- assign grid_item_width = 'small--one-whole medium--one-third large--one-third' -%}
      {% when '4' %}
        {%- assign grid_item_width = 'large--one-quarter medium--one-half small--one-whole' -%}
      {% when '5' %}
        {%- assign grid_item_width = 'small--one-half medium--one-third large--one-fifth' -%}
      {% endcase %}

    {% unless grid_item_width %}
      {%- assign grid_item_width = 'one-third medium--one-half small--one-whole' -%}
    {% endunless %}


    {% for collection in collections %}

      {% if collection.handle == 'frontpage' %}
        {% continue %}
      {% endif %}

      {% if collection.image %}
        {% capture collection_image %} {{ collection | img_url: 'large' }} {% endcapture %}
        {% capture collection_image_x2 %} {{ collection | img_url: 'grande' }} {% endcapture %}
        {% capture collection_alt %} {{ collection.image.alt }} {% endcapture %}
      {% else %}
        {% if collection.products.size == 0 %}
        	{% assign use_placeholder = true %}
        {% else %}
          {% capture collection_image %} {{ collection.products.first | img_url: 'large' }} {% endcapture %}
          {% capture collection_image_x2 %} {{ collection.products.first | img_url: 'grande' }} {% endcapture %}
        {% endif %}
        {% capture collection_alt %} {{ collection.title.escape }} {% endcapture %}
      {% endif %}

      <div class="product grid__item {{ grid_item_width }} text-center">

        <a href="{{ collection.url }}" class="grid__image">
        {% if use_placeholder %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          {% else %}
          <img class="retina-img" src="{{ collection_image }}" data-retina-src="{{ collection_image_x2 }}" alt="{{ collection_alt }}">
        {% endif %}
        </a>

        <p class="h3"><a href="{{ collection.url }}">{{ collection.title }}</a></p>

      </div>

    {% endfor %}

  </div>

</div>

{{ '//cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.min.js' | script_tag }}

</div>

{% schema %}
  {
  	"name": "Collection listing pages",
  	"settings": [
  		{
  			"type": "select",
  			"id": "grid",
  			"label": "Number of collection columns",
  			"default": "3",
  			"options": [
  				{
  					"value": "2",
  					"label": "2"
  				},
  				{
  					"value": "3",
  					"label": "3"
  				},
  				{
  					"value": "4",
  					"label": "4"
  				},
  				{
  					"value": "5",
  					"label": "5"
  				}
  			]
  		}
  	]
  }
{% endschema %}
