<div id="home-clients" class="index-section">
  <div class="content-page">



		{% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    {% case block.type %}
    {% when 'rich-text' %}
      <div class="wrapper wrapper--margins">


						{% if block.settings.title != blank %}<h2 class="home-section-title">{{ block.settings.title }}</h2>{% endif %}
							<div class="rte">
								{{ block.settings.content }}
							</div>

		
	

	

			</div>
    {% when 'image_text' %}
    <div class="home-imagebox">
		<div class="grid__item one-half medium-down--one-whole image {% if block.settings.home-featured-align == 'right-img' %} push--large--one-half {% endif %}" {% if feature_image_url %}style="background-image: url('{{ feature_image_url }}')"{% endif %}>
			{% if feature_image_url %}
			<img src="{{ feature_image_url }}" alt="{{ block.settings.home-featured-title | escape }}" />
			{% else %}
			  <div class="placeholder-background imagebox">
			    {{ 'image' | placeholder_svg_tag: 'placeholder-image' }}
			  </div>
			{% endif %}
		</div>
		<div class="content wrapper wrapper--margins-small">
			<div class="grid__item one-half medium-down--one-whole content {% if block.settings.home-featured-align == 'left-img' %} push--large--one-half {% else %} pull--no {% endif %}">
				<div class="large--display-table">
					<div class="large--display-table-cell">


						  {% unless block.settings.home-featured-title == blank %}
							<h3>{{ block.settings.home-featured-title }}</h3>
						  {% endunless %}
						  {% unless block.settings.home-featured-content == blank %}
							<p>{{ block.settings.home-featured-content }}</p>
						  {% endunless %}
						  {% unless block.settings.home-featured-btn-label == blank %}
							<a class="btn btn--regular btn--outline btn--light" href="{{ block.settings.home-featured-btn-url }}">{{ block.settings.home-featured-btn-label }}</a>
						  {% endunless %}

					</div>
				</div>
			</div>
		</div>
	</div>
    {% when 'text-icons'%}
    <div class="wrapper wrapper--margins-small">
    <div class="home-features">
      {% if section.settings.title != blank %}
        <h2 class="home-section-title">{{ section.settings.title | escape }}</h2>
      {% endif %}

      <ul class="features-list grid grid-margins">


        {% case block.settings.width %}
          {% when '25%' %}
            {%- assign grid_class = 'grid__item large--one-quarter medium--one-half small--text-center' -%}
          {% when '33%' %}
            {%- assign grid_class = 'grid__item large--one-third medium-down--text-center' -%}
          {% when '50%' %}
            {%- assign grid_class = 'grid__item large--one-half medium--one-half small--text-center' -%}
          {% when '66%' %}
            {%- assign grid_class = 'grid__item large--two-thirds medium-down--text-center' -%}
          {% when '75%' %}
            {%- assign grid_class = 'grid__item large--three-quarters medium-down--text-center' -%}
          {% when '100%' %}
            {%- assign grid_class = 'grid__item one-whole--text-center' -%}
        {% endcase %}


			<li class="{{ grid_class }}">
				<i class="fa fa-{{ block.settings.home-features-icon1 }} fa-3x"></i>
				<h3 class="h4">{{ block.settings.home-features-title1 }}</h3>
				<p>{{ block.settings.home-features-content1 }}</p>
			</li>
        <li class="{{ grid_class }}">
				<i class="fa fa-{{ block.settings.home-features-icon2 }} fa-3x"></i>
				<h3 class="h4">{{ block.settings.home-features-title2 }}</h3>
				<p>{{ block.settings.home-features-content2 }}</p>
			</li>
        <li class="{{ grid_class }}">
				<i class="fa fa-{{ block.settings.home-features-icon3 }} fa-3x"></i>
				<h3 class="h4">{{ block.settings.home-features-title3 }}</h3>
				<p>{{ block.settings.home-features-content3 }}</p>
			</li>
        <li class="{{ grid_class }}">
				<i class="fa fa-{{ block.settings.home-features-icon4 }} fa-3x"></i>
				<h3 class="h4">{{ block.settings.home-features-title4 }}</h3>
				<p>{{ block.settings.home-features-content4 }}</p>
			</li>



      </ul>

    </div>
</div>
    {%when 'kickstarter'%}
    <div class="home-kickstarter">

		{% if block.settings.home-kickstarter-bg != blank %}
		  <span class="prlx-bg" style="background-image: url({{ block.settings.home-kickstarter-bg | img_url: '1024x' }})">
			  <img src="{{ block.settings.home-kickstarter-bg | img_url: '1024x' }}" alt="{{ block.settings.home-kickstarter-title }}" />
		  </span>
		{% endif %}

		<div class="wrapper wrapper--margins-small">

			<div class="kickstarter__content {% unless block.settings.home-kickstarter-bg %} text-center {% endunless %}">

				{% unless block.settings.home-kickstarter-title == blank %}
				  <h2>{{ block.settings.home-kickstarter-title }}</h2>
				{% endunless %}

				{% unless block.settings.home-kickstarter-subtitle == blank %}
				  <h3>{{ block.settings.home-kickstarter-subtitle }}</h3>
				{% endunless %}

				<div class="kickstarter__meta kickstarter--{{ block.settings.home-kickstarter-style }}">
					<div class="kickstarter__graphic bar" data-value="{{ block.settings.home-kickstarter-percent | remove: '%' }}" data-color="{{ block.color_primary }}"></div>
					<div class="kickstarter__graphic pie" data-value="{{ block.settings.home-kickstarter-percent | remove: '%' }}" data-color="{{ block.color_primary }}"></div>
					<ul>
						{% unless block.settings.home-kickstarter-percent == blank %}
						  <li><strong>{{ block.settings.home-kickstarter-percent | remove: '%' }}%</strong><span>{{ 'homepage.crowdfunding_campaign.funded' | t }}</span></li>
						{% endunless %}
						{% unless block.settings.home-kickstarter-amount == blank %}
						  <li><strong>{{ block.settings.home-kickstarter-amount }}</strong><span>{{ 'homepage.crowdfunding_campaign.pledged' | t }}</span></li>
						{% endunless %}
						{% unless block.settings.home-kickstarter-backers == blank %}
						  <li><strong>{{ block.settings.home-kickstarter-backers }}</strong><span>{{ 'homepage.crowdfunding_campaign.backers' | t }}</span></li>
						{% endunless %}
					</ul>
				</div>

				{% if block.settings.home-kickstarter-url != blank %}
				<a href="{{ block.settings.home-kickstarter-url }}" class="btn btn--regular btn--dark btn--outline">{{ 'homepage.crowdfunding_campaign.pledge_button' | t }}</a>
				{% endif %}

			</div>
		</div>
	</div>
    {% endcase %}
  </div>
{% endfor %}


  </div>
</div>

{% schema %}
  {
    "name": "Testpage",
    "max_blocks": 20,
    "blocks": [
      {
        "type": "rich-text",
        "name": "Rich Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        ]
      },
	  {
        "type": "image_text",
        "name": "Image with text",
        "settings": [
          {
						"type": "select",
						"id": "home-featured-align",
						"label": "Alignment",
						"default": "left-img",
						"options": [
							{
								"value": "left-img",
								"label": "Image on left"
							},
							{
								"value": "right-img",
								"label": "Image on right"
							}
						]
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					},
					{
						"type": "text",
						"id": "home-featured-title",
						"label": "Heading",
						"default": "Talk about your brand"
					},
					{
						"type": "textarea",
						"id": "home-featured-content",
						"label": "Text",
						"default": "Use this text to share information about your brand with your customers. <b>Describe a product, share announcements, or welcome customers to your store.<\/b>"
					},
					{
						"type": "text",
						"id": "home-featured-btn-label",
						"label": "Button label"
					},
					{
						"type": "url",
						"id": "home-featured-btn-url",
						"label": "Button link"
					}
        ]
      },
	  {
        "type": "text-icons",
        "name": "Text with icons",
        "settings": [
{
  					"type": "select",
  					"id": "width",
  					"label": "Container width",
  					"default": "33%",
  					"options": [
  						{
  							"value": "25%",
  							"label": "25%"
  						},
  						{
  							"value": "33%",
  							"label": "33%"
  						},
  						{
  							"value": "50%",
  							"label": "50%"
  						},
  						{
  							"value": "66%",
  							"label": "66%"
  						},
  						{
  							"value": "75%",
  							"label": "75%"
  						},
  						{
  							"value": "100%",
  							"label": "100%"
  						}
  					]
  				},
{
  					"type": "text",
  					"id": "home-features-icon1",
  					"label": "Icon name 1",
  					"default":"bell-o",
  					"info": "[View the list of available icons](https://fortawesome.github.io/Font-Awesome/icons/)  Example: bluetooth"
  				},
  				{
  						"type": "text",
  						"id": "home-features-title1",
  						"default":"Describe a feature",
  						"label": "Title 1"
  				},
  				{
  					"type": "textarea",
  					"id": "home-features-content1",
  					"label": "Text 1",
  					"default":"This section doesn’t currently include any content. <b>Add content to this section using the sidebar.</b>",
  					"info": "Use basic HTML to format text"
  				},
{
  					"type": "text",
  					"id": "home-features-icon2",
  					"label": "Icon name 2",
  					"default":"bell-o",
  					"info": "[View the list of available icons](https://fortawesome.github.io/Font-Awesome/icons/)  Example: bluetooth"
  				},
  				{
  						"type": "text",
  						"id": "home-features-title2",
  						"default":"Describe a feature",
  						"label": "Title 2"
  				},
  				{
  					"type": "textarea",
  					"id": "home-features-content2",
  					"label": "Text 2",
  					"default":"This section doesn’t currently include any content. <b>Add content to this section using the sidebar.</b>",
  					"info": "Use basic HTML to format text"
  				},
{
  					"type": "text",
  					"id": "home-features-icon3",
  					"label": "Icon name 3",
  					"default":"bell-o",
  					"info": "[View the list of available icons](https://fortawesome.github.io/Font-Awesome/icons/)  Example: bluetooth"
  				},
  				{
  						"type": "text",
  						"id": "home-features-title3",
  						"default":"Describe a feature",
  						"label": "Title 3"
  				},
  				{
  					"type": "textarea",
  					"id": "home-features-content3",
  					"label": "Text 3",
  					"default":"This section doesn’t currently include any content. <b>Add content to this section using the sidebar.</b>",
  					"info": "Use basic HTML to format text"
  				}
        ]
      },
  	  {
        "type": "kickstarter",
        "name": "Kickstarter",
        "settings": [
          {
	        "type": "text",
	        "id": "home-kickstarter-title",
	        "default": "Crowdfunding",
	        "label": "Title"
	      },
	      {
	        "type": "text",
	        "id": "home-kickstarter-subtitle",
	        "default": "Campaign tracker",
	        "label": "Subtitle"
	      },
	      {
	        "type": "select",
	        "id": "home-kickstarter-style",
	        "default":"pie",
	        "label": "Stats style",
	        "options": [
	          {
	            "value": "pie",
	            "label": "Pie with smaller stats"
	          },
	          {
	            "value": "bar",
	            "label": "Bar with larger stats"
	          }
	        ]
	      },
	      {
	        "type": "image_picker",
	        "id": "home-kickstarter-bg",
	        "label": "Background image",
	        "info": "Light background on the left side"
	      },
	      {
	        "type": "header",
	        "content": "Campaign details"
	      },
	      {
	        "type": "text",
	        "id": "home-kickstarter-percent",
	        "default": "75",
	        "label": "Funded percent"
	      },
	      {
	        "type": "text",
	        "id": "home-kickstarter-amount",
	        "default": "$1000",
	        "label": "Funded amount"
	      },
	      {
	        "type": "text",
	        "id": "home-kickstarter-backers",
	        "default": "10",
	        "label": "Number of backers"
	      },
	      {
	        "type": "text",
	        "id": "home-kickstarter-url",
	        "default": "https://www.shopify.com",
	        "label": "Project URL"
	      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "rich-text"
          },
          {
            "type": "text-icons"
          },
          {
            "type": "image_text"
          },
          {
            "type": "kickstarter"
          }
        ]
      }
    ]
  }
{% endschema %}
