<div class="product">
{% include 'cart-banner'%}
</div>
<style>

.mfp-container {
  background-color: {{product.metafields.settings.lightbox}};
}

.rte ul li:before {
    color: {{product.metafields.settings.gradient}};
  }
</style>
<div class="product-template" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
<div class="product-gradient" style="background: {{product.metafields.settings.gradient}}; /* Old browsers */
background: -moz-linear-gradient(top,  {{product.metafields.settings.gradient}} 0%, #ffffff 180px); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  {{product.metafields.settings.gradient}} 0%,#ffffff 180px); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  {{product.metafields.settings.gradient}} 0%,#ffffff 180px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{product.metafields.settings.gradient}}', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
height: 100vh;
position: absolute;
width: 100%;"></div>
<div class="wrapper wrapper--margins-small">

  <div class="product grid">

    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    <div class="product__image grid__item one-half small--one-whole">
      <div id="slider-{{ section.id }}" class="regular-slider flexslider" style="width: 50%; margin: 0 25%">
        <ul class="slides">
          {% if product.images.size > 0 %}
            <!--<li class="slide" data-index="0" data-variant-img="{{ featured_image.id }}">
              <a href="{{ featured_image | img_url: '2048x2048' }}" class="image-popup">
                <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}">
              </a>
            </li>-->
            {% if product.images.size > 1 %}
              {% assign index = 0 %}
              {% for image in product.images %}
          
                 <!--{{index}}-->
                  <li class="slide" data-index="{{ index }}" data-variant-img="{{ image.id }}" data-thumb="{{ image | img_url: 'small' }}">
                    <a href="{{ image | img_url: '2048x2048' }}" class="image-popup">
                      <img src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
                    </a>
                  </li>
           
              {% endfor %}
            {% endif %}
          {% else %}
            <li class="slide">
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </li>
          {% endif %}
        </ul>
      </div>
      {% if section.settings.social_sharing_products %}
      <div class="text-center" style="padding-top: 70px;">
        {% include 'page_share' %}
      </div>
      {% endif %}
    </div>

    <div class="product__content grid__item one-half small--one-whole">
      {% include 'breadcrumbs'%}
      <h1 class="secondary-title">{{ product.title }}</h1>
      {% if product.metafields.spr.reviews %}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {%else%}
      <span class="shopify-product-reviews-badge"><a href="#shopify-product-reviews">Write the first review</a></span>
		{%endif%}
      <div class="product-description rte" itemprop="description">
        {% assign formatted = product.description | replace: '$|', '<span class="btn btn--outline btn--small btn--dark">' | replace: '|$', '</span>' | replace: '$CTA', '<span class="btn btn--fill btn--regular btn--color">' | replace: 'CTA$', '</span>' | replace: '$HR', '<hr>'%}
        {% assign sections = formatted | split: '$SECTION'%}
        {% for section in sections %}
        <!--Icons-->
        {% if section contains '$EXCERPT'%}
        {% assign parts = section | split: '<ul'%}
          {{parts[0] | remove: '$EXCERPT'}}
        {%endif%}
        {%endfor%}
      </div>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="z-depth-1 padding-box cart-box">
          
          <div class="price-container">
            
            {% if product.compare_at_price_max > product.price %}
              <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% endif %}
            <span id="ProductPrice-{{ section.id }}" class="h1 price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {{ current_variant.price | money }}
            </span>
            {% if section.settings.tax_note != blank %}
            <span>{{section.settings.tax_note}}</span>
            {% endif %}
            {% if section.settings.shipping_note != blank %}
            <span><a href="{{section.settings.shipping_note}}">{{section.settings.shipping_note}}</a></span>
            {% endif %}
            {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <p id="ComparePrice-{{ section.id }}" class="h3 price compare-price">
                {{ current_variant.compare_at_price | money }}
              </p>
            {% endif %}
          </div>
          <div class="add-container" style="padding-top: 5px;">
           
              <select name="id" id="productSelect-{{ section.id }}" class="product-single__variants selector-wrapper">
                {% for variant in product.variants %}
                  {% if variant.available %}

                    <option {% if variant == current_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>

              <div id="quantity-selector" class="quantity-selector">
                <div class="input-holder minus"><button type="button" value="" class="minus" aria-label="Decrease"><svg class=" svg minus" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="19" height="19" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve" aria-hidden="true"><path d="M8 8C5.2 8 2.6 8 0 8c0 1 0 2 0 3 2.5 0 4.9 0 8 0 2.8 0 8.4 0 11 0 0-1 0-2 0-3C16.5 8 11.1 8 8 8z"></path></svg></button></div>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qty-remove-defaults quantity-selector">
                <div class="input-holder plus"><button type="button" value="" class="plus" aria-label="Increase"><svg class=" svg plus" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="19" height="19" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve" aria-hidden="true"><path d="M11 19c-1 0-2 0-3 0 0-2.6 0-5.2 0-8 -3.1 0-5.5 0-8 0 0-1 0-2 0-3 2.6 0 5.2 0 8 0 0-3.1 0-5.5 0-8 1 0 2 0 3 0 0 2.6 0 5.2 0 8 3.1 0 5.5 0 8 0 0 1 0 2 0 3 -2.6 0-5.2 0-8 0C11 14.1 11 16.5 11 19z"></path></svg></button></div>
              </div>

              <div class="">
                <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="btn btn--fill btn--regular btn--color">
                  <span id="AddToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
              </div>
          </div>
          <div class="info-container medium-down--hide">
            <span class="add-to-cart-info primary-color">{{product.metafields.text.shipping}}</span>
            <span class="add-to-cart-info primary-color">{{product.metafields.text.available}}</span>
          </div>
          
          <div style="clear: both" />
         
        </form>

      </div>
      
      <div class="product-description rte small--text-left" itemprop="description">
        {% assign formatted = product.description | replace: '$|', '<span class="btn btn--outline btn--small btn--dark">' | replace: '|$', '</span>' | replace: '$CTA', '<span class="btn btn--fill btn--regular btn--color">' | replace: 'CTA$', '</span>' | replace: '$HR', '<hr>'%}
        {% assign sections = formatted | split: '$SECTION'%}
        {% for section in sections %}
        <!--Icons-->
        {% if section contains '$EXCERPT'%}
        {% assign parts = section | split: '<ul'%}
          {{parts[1] | prepend: '<ul'}}
        {%endif%}
        {%endfor%}
      </div>

    </div>
</div>
    
<div class="grid__item one-whole">
  <div class="">
    <h1 class="text-center">{{product.metafields.text.benefits}}</h1>
    {% assign icons = pages['benefits'].content | split: '$NEXT'%}
        <div class="grid">
        {% for icon in icons %}
          <div class="grid__item one-third">
            {{ icon }}
          </div>
          {% endfor %}
        </div>
  </div>
</div>

 <div class="product__content grid__item one-whole">
      <div class="rte">
        {% assign formatted = product.description | replace: '$|', '<span class="btn btn--outline btn--small btn--dark">' | replace: '|$', '</span>' | replace: '$CTA', '<span class="btn btn--fill btn--regular btn--color">' | replace: 'CTA$', '</span>' | replace: '$HR', '<hr>' | remove: '<meta charset="utf-8" />' | remove: '<meta charset="utf-8">' %}
        {% assign sections = formatted | split: '$SECTION'%}
        {% for section in sections %}
  <!--Icons-->
       {% if section contains '$3ICONS'%}
        {%if section contains '<h1'%}
        {% assign titles = section | split: '</h1>'%}
        <h1 class="text-center hidden">{{ titles[0] | remove: '$ICONS' | prepend: '<h1>'| append: '</h1>'}}</h1>
        {% assign icons = titles[1] | split: '$NEXT'%}
        <div class="grid">
        {% for icon in icons %}
          <div class="grid__item one-third text-center">
            {{ icon | strip | remove: '$3ICONS'}}
          </div>
          {% endfor %}
        </div>
        {%else %}
        {% assign icons = section | split: '$NEXT'%}
          <div class="grid">
            {% for icon in icons %}
            <div class="grid__item one-third text-center">
              {{ icon | strip | remove: '$3ICONS'}}
            </div>
            {% endfor %}
          </div>
          {%endif%}
          {% elsif section contains '$4ICONS'%}
        {%if section contains '<h1'%}
        {% assign titles = section | split: '</h1>'%}
        <h1 class="text-center hidden">{{ titles[0] | remove: '$ICONS' | prepend: '<h1>'| append: '</h1>'}}</h1>
        {% assign icons = titles[1] | split: '$NEXT'%}
        <div class="grid">
        {% for icon in icons %}
          <div class="grid__item one-quarter text-center">
            {{ icon | strip | remove: '$4ICONS'}}
          </div>
          {% endfor %}
        </div>
        {%else %}
        {% assign icons = section | split: '$NEXT'%}
          <div class="grid">
            {% for icon in icons %}
            <div class="grid__item one-quarter text-center">
              {{ icon | strip | remove: '$4ICONS'}}
            </div>
            {% endfor %}
          </div>
          {%endif%}
          {% elsif section contains '$5ICONS'%}
        {%if section contains '<h1'%}
        {% assign titles = section | split: '</h1>'%}
        <h1 class="text-center hidden">{{ titles[0] | remove: '$ICONS' | prepend: '<h1>'| append: '</h1>'}}</h1>
        {% assign icons = titles[1] | split: '$NEXT'%}
        <div class="grid">
        {% for icon in icons %}
          <div class="grid__item one-fifth text-center">
            {{ icon | strip | remove: '$5ICONS'}}
          </div>
          {% endfor %}
        </div>
        {%else %}
        {% assign icons = section | split: '$NEXT'%}
          <div class="grid">
            {% for icon in icons %}
            <div class="grid__item one-fifth text-center">
              {{ icon | strip | remove: '$5ICONS'}}
            </div>
            {% endfor %}
          </div>
          {%endif%}
          {% elsif section contains '$6ICONS'%}
        {%if section contains '<h1'%}
        {% assign titles = section | split: '</h1>'%}
        <h1 class="text-center hidden">{{ titles[0] | remove: '$ICONS' | prepend: '<h1>'| append: '</h1>'}}</h1>
        {% assign icons = titles[1] | split: '$NEXT'%}
        <div class="grid">
        {% for icon in icons %}
          <div class="grid__item one-sixth text-center">
            {{ icon | strip | remove: '$6ICONS'}}
          </div>
          {% endfor %}
        </div>
        {%else %}
        {% assign icons = section | split: '$NEXT'%}
          <div class="grid">
            {% for icon in icons %}
            <div class="grid__item one-sixth text-center">
              {{ icon | strip | remove: '$6ICONS'}}
            </div>
            {% endfor %}
          </div>
          {%endif%}
  <!--2 Columns-->
        {% elsif section contains '$2COLUMNS'%}
        {%if section contains '<h1'%}
        {% assign titles = section | split: '</h1>'%}
        <h1 class="text-center hidden">{{ titles[0] | remove: '$2COLUMNS' | append: '</h1>'}}</h1>
        {% assign columns = titles[1] | split: '$NEXT'%}
        <div class="grid">
        {% for column in columns %}
          <div class="grid__item one-half">
            {{ column | strip | remove: '$2COLUMNS'}}
          </div>
          {% endfor %}
        </div>
        {% else %}
        {% assign columns = section | split: '$NEXT'%}
          <div class="grid">
            {% for column in columns %}
            <div class="grid__item one-half">
              {{ column | strip | remove: '$2COLUMNS'}}
            </div>
            {% endfor %}
          </div>
          {%endif%}
  <!--3 Columns-->
        {% elsif section contains '$3COLUMNS'%}
        {%if section contains '<h1'%}
          {% assign titles = section | split: '</h1>'%}
          <h1 class="text-center hidden">{{ titles[0] | remove: '$3COLUMNS' | append: '</h1>'}}</h1>
          {% assign columns = titles[1] | split: '$NEXT'%}
          <div class="grid">
          {% for column in columns %}
            <div class="grid__item one-third">
              {{ column  | remove: '$3COLUMNS'}}
            </div>
            {% endfor %}
          </div>
        {%else %}
          {% assign columns = section | split: '$NEXT'%}
            <div class="grid">
              {% for column in columns %}
              <div class="grid__item one-third">
                {{ column  | remove: '$3COLUMNS'}}
              </div>
              {% endfor %}
            </div>
        {%endif%}
  <!-- Default -->
        {% elsif section contains '$DEFAULT'%}
          <div class="grid">
            <div class="grid__item one-whole">
              {{ section | strip | remove: '$DEFAULT'}}
            </div>
          </div>
  <!-- Linklist -->
        {% elsif section contains '$LINKLIST'%}
        {% assign links = section | split: '$NEXT'%}
          <ul class="inline-list">
            {% for link in links %}
            <li>
              {{ link | remove: '$LINKLIST'}}
            </li>
            {% endfor %}
          </ul>

        {%endif%}
        {%endfor%}
      </div>
    </div>

    <div class="grid__item one-whole">
      <div class="">
        {% assign alignment = 'horizontal'%}
      {% include 'related-products' with alignment %}
      </div>
    </div>

    <div class="grid__item one-whole">
      <div class="">
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
    </div>

  </div>
</div>

{% unless product.empty? %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "social_sharing_products",
        "label": "Enable product sharing",
        "default": true
      },
      {
        "type": "text",
        "id": "tax_note",
        "label": "Tax note",
        "default": "inkl. MwSt."
      },
      {
        "type": "text",
        "id": "shipping_note",
        "label": "Shipping note",
        "default": "zzgl. Versandkosten"
      },
      {
        "type": "url",
        "id": "shipping_link",
        "label": "Shipping link"
      }
    ]
  }
{% endschema %}

<script>
  $(document).ready(function(){
    
  

  // Hide selectors if we only have 1 variant and its title contains 'Default'.
{% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('#productSelect-product-default').hide();
  {% endif %}


  });




  
    
</script>


