<div class="cera-section cera-list_third">
	<div class="wrapper wrapper--margins-small">
		<h1 class="h2 mainheader text-center">Lorem Ipsum</h1>
		<div class="grid">
			<div class="grid__item two-thirds medium-down--one-whole">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>	
			</div>
			<div class="grid__item one-third medium-down--one-whole">
				<h2 class="h4 subheader">Lorem Ipsum</h2>
				HTML ELEMENT ODER PAGE
			</div>
		</div>
	</div>
</div>