<div class="cera-section cera-content">
	<div class="wrapper wrapper--margins-small">
      <div class="rte"><h1 class="h2 mainheader">{{page.title}}</h1></div>
		<div class="rte">{{page.content}}</div>
	</div>
</div>