<div class="cera-section cera-quarter_image">
	<div class="wrapper wrapper--margins-small">
		<div class="grid">
			{% if block.settings.image-position == 'left' %}
			<div class="grid__item one-quarter medium-down--one-whole">
				<img src="https://placehold.it/200x200">
			</div>
			<div class="grid__item three-quarters medium-down--one-whole">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>	
			</div>
			{%else%}
			<div class="grid__item three-quarters medium-down--one-whole">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>	
			</div>
			<div class="grid__item one-quarter medium-down--one-whole">
				<img src="https://placehold.it/200x200">
			</div>
			{%endif%}
		</div>
	</div>
</div>