<div class="cera-section cera-banner">
	<div class="banner-background">
		<div class="wrapper wrapper--margins-small">
			<div class="grid">
				<div class="grid__item one-whole text-left">
					<h1 class="h2 grey-header">Lorem Ipsum</h1>
				</div>
			</div>
		</div>
	</div>
</div>