<div class="cera-section cera-video">
	<div class="wrapper wrapper--margins-small">
		<div class="grid">
			<div class="grid__item one-half medium-down--one-whole">
				<div class="grid">
					<div class="grid__item one-whole">
						<h2 class="h4 subheader">Lorem Ipsum</h2>
						<h1 class="h2 mainheader">Lorem Ipsum</h1>
					</div>
					<div class="grid__item one-third medium-down--one-whole">
						<img src="https://place.it/100x100">
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
					</div>
					<div class="grid__item one-third medium-down--one-whole">
						<img src="https://place.it/100x100">
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
					</div>
					<div class="grid__item one-third medium-down--one-whole">
						<img src="https://place.it/100x100">
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
					</div>
				</div>
			</div>
			<div class="grid__item one-half medium-down--one-whole">
				<h2 class="h4 subheader">Lorem Ipsum</h2>
				<img src="https://place.it/500x500">
			</div>
		</div>
	</div>
</div>