<div class="cera-section cera-image">
	<div class="wrapper wrapper--margins-small">
		<div class="grid">
			<div class="grid__item one-whole text-center">
				<img src="https://place.it/800x300">
			</div>
		</div>
	</div>
</div>