<div class="cera-section cera-imagebox">
	{% for block in section.blocks %}
	  {% if block.settings.image %}
	    {% capture feature_image_url %}{{ block.settings.image | img_url: '900x900' }}{% endcapture %}
	  {% endif %}
	<div class="home-imagebox" {{ block.shopify_attributes }}>
		<div class="grid__item one-half medium-down--one-whole image {% if block.settings.home-featured-align == 'right-img' %} push--large--one-half {% endif %}" {% if feature_image_url %}style="background-image: url('{{ feature_image_url }}')"{% endif %}>
			{% if feature_image_url %}
			<img src="{{ feature_image_url }}" alt="{{ block.settings.home-featured-title | escape }}" />
			{% else %}
			  <div class="placeholder-background imagebox">
			    {{ 'image' | placeholder_svg_tag: 'placeholder-image' }}
			  </div>
			{% endif %}
		</div>
		<div class="content wrapper">
			<div class="grid__item one-half medium-down--one-whole content {% if block.settings.home-featured-align == 'left-img' %} push--large--one-half {% else %} pull--no {% endif %}">
				<div class="large--display-table">
					<div class="large--display-table-cell">


						  {% unless block.settings.home-featured-title == blank %}
							<h3>{{ block.settings.home-featured-title }}</h3>
						  {% endunless %}
						  {% unless block.settings.home-featured-content == blank %}
							<p>{{ block.settings.home-featured-content }}</p>
						  {% endunless %}
						  {% unless block.settings.home-featured-btn-label == blank %}
							<a class="btn btn--regular btn--outline btn--light" href="{{ block.settings.home-featured-btn-url }}">{{ block.settings.home-featured-btn-label }}</a>
						  {% endunless %}

					</div>
				</div>
			</div>
		</div>
	</div>

  {% endfor %}
</div>

{% schema %}
	{
		"name": "Image and text",
		"blocks": [
			{
				"type": "text",
				"name": "Image and text",
				"settings": [
					{
						"type": "select",
						"id": "home-featured-align",
						"label": "Alignment",
						"default": "left-img",
						"options": [
							{
								"value": "left-img",
								"label": "Image on left"
							},
							{
								"value": "right-img",
								"label": "Image on right"
							}
						]
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					},
					{
						"type": "text",
						"id": "home-featured-title",
						"label": "Heading",
						"default": "Talk about your brand"
					},
					{
						"type": "textarea",
						"id": "home-featured-content",
						"label": "Text",
						"default": "Use this text to share information about your brand with your customers. <b>Describe a product, share announcements, or welcome customers to your store.<\/b>"
					},
					{
						"type": "text",
						"id": "home-featured-btn-label",
						"label": "Button label"
					},
					{
						"type": "url",
						"id": "home-featured-btn-url",
						"label": "Button link"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Image and text",
				"category": "Image",
				"blocks": [
					{
						"type": "text"
					}
				]
			}
		]
	}
{% endschema %}
