<div class="cera-section cera-card">
	<div class="wrapper wrapper--margins-small">
		<h1 class="h2 mainheader text-center">Lorem Ipsum</h1>
		<div class="material-card">
			<div class="grid">
				<div class="grid__item one-quarter medium-down--one-whole">
					<img src="https://placehold.it/200x200">
				</div>
				<div class="grid__item three-quarters medium-down--one-whole">
					<img src="https://placehold.it/50x50">
					<h2 class="h4 subheader">Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
					<a href="#" class="btn btn--large btn--full btn--color">Lorem Ipsum</a>	
				</div>
			</div>
		</div>
	</div>
</div>