<div class="cera-section cera-hero">
	<div class="hero-background">
		<div class="wrapper wrapper--margins-small">
			<div class="grid">
				<div class="grid__item one-whole text-left">
					<h2 class="h4 subheader">Lorem Ipsum</h2>
					<h1 class="h2 mainheader">Lorem Ipsum</h1>
				</div>
				<div class="grid__item one-sixths medium-down--one-half">
					<img src="https://place.it/200x50">
				</div>
				<div class="grid_item three-sixths medium-down--one-half">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
					<a href="#" class="btn btn--large btn--full btn--color">Lorem Ipsum</a>
				</div>
			</div>
		</div>
	</div>
</div>