<div class="cera-section cera-icons">
  <div class="wrapper wrapper--margins">
    <div class="home-features">
        <h2 class="home-section-title">{{ section.settings.title | escape }}</h2>

      <ul class="features-list grid grid-margins">

	  {% for block in section.blocks %}

        {% case block.settings.width %}
          {% when '25%' %}
            {%- assign grid_class = 'grid__item large--one-quarter medium--one-half small--text-center' -%}
          {% when '33%' %}
            {%- assign grid_class = 'grid__item large--one-third medium-down--text-center' -%}
          {% when '50%' %}
            {%- assign grid_class = 'grid__item large--one-half medium--one-half small--text-center' -%}
          {% when '66%' %}
            {%- assign grid_class = 'grid__item large--two-thirds medium-down--text-center' -%}
          {% when '75%' %}
            {%- assign grid_class = 'grid__item large--three-quarters medium-down--text-center' -%}
          {% when '100%' %}
            {%- assign grid_class = 'grid__item one-whole--text-center' -%}
        {% endcase %}


			<li class="{{ grid_class }}" {{ block.shopify_attributes }}>
				<i class="fa fa-{{ block.settings.home-features-icon }} fa-3x"></i>
				<h3 class="h4">{{ block.settings.home-features-title }}</h3>
				<p>{{ block.settings.home-features-content }}</p>
			</li>

      {% endfor %}

      </ul>

    </div>
</div>
</div>

